Build a portfolio.json
[
    {
        "id": "cfd3d7ab7eb42582",
        "type": "tab",
        "label": "Create Dividend Portfolio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65d691200ed82e6e",
        "type": "comment",
        "z": "cfd3d7ab7eb42582",
        "name": "Create a portfolio of dividend stocks ",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "e637328adee586c8",
        "type": "mysql",
        "z": "cfd3d7ab7eb42582",
        "mydb": "3564bcf07c743fdf",
        "name": "ptsapi",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "74eb9f1aeac1608e"
            ]
        ]
    },
    {
        "id": "cc2448df47fe720b",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "Get dividend stocks",
        "func": "let sql = \"select distinct ticker,close from dividends where pct between 4 and 10 and exdate > '2022-06-01'\"\nmsg.topic = sql\n//node.warn(sql)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "e637328adee586c8"
            ]
        ]
    },
    {
        "id": "dd888471972cf2b8",
        "type": "inject",
        "z": "cfd3d7ab7eb42582",
        "name": "get count ",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "cc2448df47fe720b"
            ]
        ]
    },
    {
        "id": "09e5d14a0159e271",
        "type": "comment",
        "z": "cfd3d7ab7eb42582",
        "name": "Get list of dividend stocks from data center that meet criteria in the function node",
        "info": "",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "74eb9f1aeac1608e",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "calculate total number of stocks",
        "func": "let cnt = msg.payload.length\nmsg.payload = cnt\nnode.warn(\"Count: \" +cnt)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 200,
        "wires": [
            [
                "fc055e6eda229422"
            ]
        ]
    },
    {
        "id": "964a20475e652595",
        "type": "mysql",
        "z": "cfd3d7ab7eb42582",
        "mydb": "3564bcf07c743fdf",
        "name": "ptsapi",
        "x": 510,
        "y": 460,
        "wires": [
            [
                "f0f128cdf2e662d0"
            ]
        ]
    },
    {
        "id": "02c310770217207a",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "Get dividend stocks",
        "func": "let cnt = msg.payload\ncnt = cnt + 1\nlet sql = \"select distinct ticker,close from dividends where pct between 4 and 21 and exdate > '2022-06-01' limit \" +cnt+ \", 1\"\nmsg.topic = sql\n//node.warn(sql)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "964a20475e652595"
            ]
        ]
    },
    {
        "id": "f0f128cdf2e662d0",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "output",
        "func": "let psize = flow.get(\"portfolio_size\")\nlet id = flow.get(\"portfolio_id\")\n\n\n\nfor (let i = 0; i < msg.payload.length; i++) {\n\n    let ticker = msg.payload[i][\"ticker\"]\n    let close = msg.payload[i][\"close\"]\n    let qty = (psize / 91) / close\n    qty = Math.round(qty);\n    let sql = \"insert into sub_portfolio (id, ticker, price, qty) values (\" +id+ \",'\" +ticker+ \"','\" +close+ \"','\" +qty+ \"');\";\n    msg.topic = sql\n\n// create a market order for Alpaca\n    let temp = ''\n    temp = {\n        \"symbol\": ticker,\n        \"qty\": qty, // buy 0.1 of a share at first \n        \"side\": \"buy\",\n        \"type\": \"market\",\n        \"time_in_force\": \"gtc\"\n    };\n\n\n\n    msg.payload = temp\n    node.warn(msg.payload)\n    node.warn(msg.topic)\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 460,
        "wires": [
            [
                "5d7820a59ae8076e",
                "e81db979bcd4ecf5",
                "67e3fbc584bc4881"
            ]
        ]
    },
    {
        "id": "ac06100484a3d173",
        "type": "inject",
        "z": "cfd3d7ab7eb42582",
        "name": "start at 0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "02c310770217207a"
            ]
        ]
    },
    {
        "id": "5d7820a59ae8076e",
        "type": "loop",
        "z": "cfd3d7ab7eb42582",
        "name": "",
        "kind": "fcnt",
        "count": "91",
        "initial": "1",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-index",
        "finalPayload": "final-count",
        "x": 330,
        "y": 640,
        "wires": [
            [],
            [
                "109cc6e752134b6b"
            ]
        ]
    },
    {
        "id": "109cc6e752134b6b",
        "type": "delay",
        "z": "cfd3d7ab7eb42582",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 640,
        "wires": [
            [
                "02c310770217207a"
            ]
        ]
    },
    {
        "id": "f7b805affe3247af",
        "type": "comment",
        "z": "cfd3d7ab7eb42582",
        "name": "Flow #3: Store Positions Gains/Losses for this Sub Portfolio",
        "info": "",
        "x": 280,
        "y": 740,
        "wires": []
    },
    {
        "id": "1be7b82f838fc44e",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "store raw orders",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nlet sql = \"insert into orders (id,client_order_id,created_at,updated_at,submitted_at,filled_at,expired_at,canceled_at,failed_at,replaced_at,replaced_by,replaces,asset_id,symbol,asset_class,notional,qty,filled_qty,filled_avg_price,order_class,order_type,type,side,time_in_force,limit_price,stop_price,status,extended_hours,legs,trail_percent,trail_price,hwm,subtag,source) values ('\" + id + \"','\" + client_order_id + \"','\" + created_at + \"','\" + updated_at + \"','\" + submitted_at + \"','\" + filled_at + \"','\" + expired_at + \"','\" + canceled_at + \"','\" + failed_at + \"','\" + replaced_at + \"','\" + replaced_by + \"','\" + replaces + \"','\" + asset_id + \"','\" + symbol + \"','\" + asset_class + \"','\" + notional + \"','\" + qty + \"','\" + filled_qty + \"','\" + filled_avg_price + \"','\" + order_class + \"','\" + order_type + \"','\" + type + \"','\" + side + \"','\" + time_in_force + \"','\" + limit_price + \"','\" + stop_price + \"','\" + status + \"','\" + extended_hours + \"','\" + legs + \"','\" + trail_percent + \"','\" + trail_price + \"','\" + hwm + \"','\" + subtag + \"','\" + source + \"');\"\n\nnode.warn(sql)\nmsg.topic = sql\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 540,
        "wires": [
            [
                "dbfdde4941c28420"
            ]
        ]
    },
    {
        "id": "dbfdde4941c28420",
        "type": "sqlite",
        "z": "cfd3d7ab7eb42582",
        "mydb": "3da37290d92c1dc8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "orders",
        "x": 1110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "81f5fbbd4bd4d47d",
        "type": "comment",
        "z": "cfd3d7ab7eb42582",
        "name": "create the query for the dividends here:",
        "info": "",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "1b9a16d9a3ee4b88",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "update positions",
        "func": "let sql = ''\nlet portfolio_id = 1\nlet temp = ''\n\nfor (var i=0;i<msg.payload.length;i++) \n\n{\n\n    let asset_id = msg.payload[i][\"asset_id\"]\n    let symbol = msg.payload[i][\"symbol\"]\n    let exchange = msg.payload[i][\"exchange\"]\n    let asset_class = msg.payload[i][\"asset_class\"]\n    let asset_marginable = msg.payload[i][\"asset_marginable\"]\n    let qty = msg.payload[i][\"qty\"]\n    let avg_entry_price = msg.payload[i][\"avg_entry_price\"]\n    let side = msg.payload[i][\"side\"]\n    let market_value = msg.payload[i][\"market_value\"]\n    let cost_basis = msg.payload[i][\"cost_basis\"]\n    let unrealized_pl = msg.payload[i][\"unrealized_pl\"]\n    let unrealized_plpc = msg.payload[i][\"unrealized_plpc\"]\n    let unrealized_intraday_pl = msg.payload[i][\"unrealized_intraday_pl\"]\n    let unrealized_intraday_plpc = msg.payload[i][\"unrealized_intraday_plpc\"]\n    let current_price = msg.payload[i][\"current_price\"]\n    let lastday_price = msg.payload[i][\"lastday_price\"]\n    let change_today = msg.payload[i][\"change_today\"]\n    let qty_available = msg.payload[i][\"qty_available\"]\n    sql = \"update sub_portfolio set gain_today = \" +unrealized_intraday_pl+ \", pctgain_today = \" +unrealized_intraday_plpc +\", gain = \" +unrealized_pl+ \", pctgain = \" +unrealized_plpc+ \" where ticker = '\" +symbol+ \"' and id = \" +portfolio_id+ \";\\n\" \n    temp += sql\n}\n\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 800,
        "wires": [
            [
                "cd1a6537983d564a"
            ]
        ]
    },
    {
        "id": "a82d49dd70c71d4e",
        "type": "sqlite",
        "z": "cfd3d7ab7eb42582",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 1100,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cd1a6537983d564a",
        "type": "split",
        "z": "cfd3d7ab7eb42582",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 800,
        "wires": [
            [
                "563b008332331ce4"
            ]
        ]
    },
    {
        "id": "563b008332331ce4",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "change payload to topic",
        "func": "msg.topic = (msg.payload)\nnode.warn(msg.topic)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 800,
        "wires": [
            [
                "a82d49dd70c71d4e"
            ]
        ]
    },
    {
        "id": "de99b1a616832bdc",
        "type": "inject",
        "z": "cfd3d7ab7eb42582",
        "name": "6 AM",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "b1620f561c132686"
            ]
        ]
    },
    {
        "id": "67e3fbc584bc4881",
        "type": "alpaca-order",
        "z": "cfd3d7ab7eb42582",
        "conf": "0c86a5f06a42b505",
        "x": 790,
        "y": 540,
        "wires": [
            [
                "1be7b82f838fc44e"
            ]
        ]
    },
    {
        "id": "b1620f561c132686",
        "type": "alpaca-position-query",
        "z": "cfd3d7ab7eb42582",
        "conf": "0c86a5f06a42b505",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "1b9a16d9a3ee4b88"
            ]
        ]
    },
    {
        "id": "fc055e6eda229422",
        "type": "change",
        "z": "cfd3d7ab7eb42582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stocks",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "751bd6138729f967",
        "type": "inject",
        "z": "cfd3d7ab7eb42582",
        "name": "set size of portfolio whole dollars",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "portfolioid",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "50000",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "f90d799f954e700a"
            ]
        ]
    },
    {
        "id": "f90d799f954e700a",
        "type": "change",
        "z": "cfd3d7ab7eb42582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "portfolio_size",
                "pt": "flow",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "portfolio_id",
                "pt": "flow",
                "to": "portfolioid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "070b22f80d68760f",
        "type": "inject",
        "z": "cfd3d7ab7eb42582",
        "name": "Display flow variables",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "44123f8ec9c4c0b8"
            ]
        ]
    },
    {
        "id": "44123f8ec9c4c0b8",
        "type": "function",
        "z": "cfd3d7ab7eb42582",
        "name": "Flow vars",
        "func": "let cnt = flow.get(\"stocks\")\nlet psize = flow.get(\"portfolio_size\")\nlet portfolioid = flow.get(\"portfolio_id\")\n\nnode.warn(\"Portfolio ID: \" +portfolioid+ \"  Portfolio Size: \" +psize+ \" Number of stocks: \" +cnt) \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0a91b7331380a167",
        "type": "comment",
        "z": "cfd3d7ab7eb42582",
        "name": "Step 3: Buy Portfolio ",
        "info": "",
        "x": 150,
        "y": 400,
        "wires": []
    },
    {
        "id": "7452507139f189f1",
        "type": "comment",
        "z": "cfd3d7ab7eb42582",
        "name": "entere the number of stocks manually in the \"Fixed Count Look\"",
        "info": "",
        "x": 290,
        "y": 600,
        "wires": []
    },
    {
        "id": "e81db979bcd4ecf5",
        "type": "sqlite",
        "z": "cfd3d7ab7eb42582",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3564bcf07c743fdf",
        "type": "MySQLdatabase",
        "name": "ptsapi",
        "host": "ptsapi.cax8fspskl8t.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "ptsapi",
        "tz": "EST5EDT",
        "charset": "UTF8"
    },
    {
        "id": "3da37290d92c1dc8",
        "type": "sqlitedb",
        "db": "/data/store/orders",
        "mode": "RWC"
    },
    {
        "id": "d6e22e31a8a67436",
        "type": "sqlitedb",
        "db": "/data/store/portfolios",
        "mode": "RWC"
    },
    {
        "id": "0c86a5f06a42b505",
        "type": "alpaca-account",
        "name": "live",
        "keyId": "PK5NTIWS5NJ8S2MFN6QT",
        "paper": true
    }
]