Buy:Short SPY on News.json
[
    {
        "id": "610a975cc570ea94",
        "type": "tab",
        "label": "Buy/Short SPY on News Senetiment Daily",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a215bfdbfcdd1fa3",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "The name of this strategy is \"Buy/Short SPY on News\"",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed271c47c710a1b8",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "This calculates current moving average of the news (last 100 items) and determins the sentiment score relative to the average sentiiment of all headlines (.1935)",
        "info": "",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "c47d20b84e42d20a",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "create array for average",
        "func": "// this function reuses old variable names from time seeries arrays.  You can rename if you like.\n\nconst prices = [];\nlet item = 0\nlet price = 0\nlet ux = 0\n\nfor (item of msg.payload) {\n    price = item.sent;\n    prices.push(price);  \n//    node.warn(price)\n\n}\n\n//node.warn(prices)\nmsg.payload = prices\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 140,
        "wires": [
            [
                "ef7e462ecd8b556e"
            ]
        ]
    },
    {
        "id": "24ed28b3a3f5e1dd",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "display avg",
        "func": "let avg = msg.moving_avg\navg = avg.toFixed(3)\nnode.warn(\" Moving Avg: \" +avg)\nmsg.moving_avg = avg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 140,
        "wires": [
            [
                "d5712868bc1526c0"
            ]
        ]
    },
    {
        "id": "1016e372a2d85192",
        "type": "mysql",
        "z": "610a975cc570ea94",
        "mydb": "f8ca5a41.3e1448",
        "name": "news",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "c47d20b84e42d20a"
            ]
        ]
    },
    {
        "id": "53e2f8c9328f8a67",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "select sent from  headlines ",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select sent from headlines where sent is not null order by time_pub desc limit 1000;",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "1016e372a2d85192"
            ]
        ]
    },
    {
        "id": "d5712868bc1526c0",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "relative sentiment",
        "func": "let avg = msg.moving_avg\n//node.warn(\"Moving Avg: \" +avg)\nlet alltime = 0.19\nlet rel = avg - alltime\nrel = rel.toFixed(3)\nnode.warn(rel)\n\nif (rel > 0 && rel < .10){\n//    node.warn(\"positive\")\n}\n\nelse if (rel > .10){\n//  node.warn(\"strongly positive\")\n}\n\nelse if  (rel < 0) {\n//    node.warn(\"negative\")\n\n}\n\nmsg.sentiment = rel\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "97dac1abb04a083d"
            ]
        ]
    },
    {
        "id": "ef7e462ecd8b556e",
        "type": "calculator",
        "z": "610a975cc570ea94",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "moving_avg",
        "operation": "avg",
        "constant": "",
        "round": false,
        "decimals": "0",
        "x": 780,
        "y": 140,
        "wires": [
            [
                "24ed28b3a3f5e1dd"
            ]
        ]
    },
    {
        "id": "97dac1abb04a083d",
        "type": "change",
        "z": "610a975cc570ea94",
        "name": "sentiment",
        "rules": [
            {
                "t": "set",
                "p": "sentiment",
                "pt": "flow",
                "to": "sentiment",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e35b69b97f32ed79",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Flow 4: Sell once profit target reached",
        "info": "",
        "x": 230,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6cf90b9c2fea979b",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "create Alpaca order ",
        "func": "let ticker = msg.ticker\nlet qty = msg.qty\nlet price = msg.price\nlet profit = msg.profit\nlet profitpct = msg.profitpct\nlet target = flow.get(\"target\")\nlet algo_name = flow.get(\"algo_name\")\nlet subtag = algo_name\n\n// create a unique clientid with unixtime\nlet d = Date.now()\nlet client_order_id = \"Cover-\" +ticker + d\nmsg.clientorderid = client_order_id // passes this variable in the flow \n\nif ( profitpct > target) {\n\n// create a order for Alpaca\n\nlet temp = ''\ntemp = {\n    \"symbol\": ticker,\n    \"qty\": qty,\n    \"side\": 'sell',\n    \"type\": 'market',\n    \"client_order_id\": client_order_id,\n//    \"subtag\": subtag,\n    \"time_in_force\": \"gtc\"\n};\n\nmsg.payload = temp\nnode.warn(msg.payload)\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "f797b4ecbabb5b55",
        "type": "alpaca-order",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 570,
        "y": 2280,
        "wires": [
            [
                "d7d812fccfdc064d"
            ]
        ]
    },
    {
        "id": "539720e87b3ac552",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1040,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "d7d812fccfdc064d",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "insert into order_confirms table",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nsubtag = flow.get(\"algo_name\")\n\nlet result = symbol.includes(\"/\");\nif (result == true) {\n    symbol = symbol.replace(\"/\",\"\")\n}\n\nlet sql = \"insert into order_confirms(id, client_order_id, created_at, updated_at, submitted_at, asset_id, symbol, asset_class, qty, order_type, type, side, time_in_force, status, subtag, source,extended_hours) values \"\nsql += \"('\" + id + \"', '\" + client_order_id + \"', '\" + created_at + \"', '\" + updated_at + \"', '\" + submitted_at + \"', '\" + asset_id + \"', '\" + symbol + \"', '\" + asset_class + \"', '\" + qty + \"', '\" + order_type + \"', '\" + type + \"', '\" + side + \"', '\" + time_in_force + \"', '\" + status + \"', '\" + subtag + \"', '\" + source + \"', '\" + extended_hours+ \"'); \" \n\nmsg.query = sql\nnode.warn(msg.query)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2280,
        "wires": [
            [
                "539720e87b3ac552"
            ]
        ]
    },
    {
        "id": "820f3fbc45c6f63e",
        "type": "function-npm",
        "z": "610a975cc570ea94",
        "name": "Get price of trade trade",
        "func": "let symbol = flow.get(\"polygon_symbol\")\n\nlet cnt = 1 // gets last trade\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\n//node.warn(msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1820,
        "wires": [
            [
                "8e0db6249ca94d2b"
            ]
        ]
    },
    {
        "id": "08027baa7ee058a0",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": " last trade",
        "func": "let price = 0\nlet item = 0\n\n\nfor (item of msg.payload.results) {\n    price = item.price;\n    \n}\n\nprice = price.toFixed(2)\nmsg.price = price\n//node.warn(price)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1820,
        "wires": [
            [
                "1b3d8a9b8ff668ba"
            ]
        ]
    },
    {
        "id": "8e0db6249ca94d2b",
        "type": "polygon-last-trade-v3",
        "z": "610a975cc570ea94",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 660,
        "y": 1820,
        "wires": [
            [
                "08027baa7ee058a0"
            ]
        ]
    },
    {
        "id": "5a32acc57971c9bb",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Flow 4: Place a Market Order at Market Open",
        "info": "",
        "x": 270,
        "y": 1620,
        "wires": []
    },
    {
        "id": "1b3d8a9b8ff668ba",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "create Alpaca order ",
        "func": "let ticker = flow.get(\"alpaca_symbol\")\nlet algo_name = flow.get(\"algo_name\")\nlet number = flow.get(\"number\")\nlet psize = flow.get(\"psize\")\nlet price = msg.price\n\nlet qty = ((psize / number) / price)\nqty = qty.toFixed(0) // when using limit orders, no fracrtionals\n\n// create a unique clientid with unixtime\nlet d = Date.now()\nlet client_order_id = ticker + d\nmsg.clientorderid = client_order_id // passes this variable in the flow \n\n\n\n\nlet subtag = algo_name\nlet side = ''\nlet sentiment = flow.get(\"sentiment\")\n\nif ( sentiment < 0 ){ side = 'sell'}\nif (sentiment > 0) { side = 'buy' }\n\n\n// create a order for Alpaca\nlet temp = ''\ntemp = {\n    \"symbol\": ticker,\n    \"qty\": qty,\n    \"side\": side,\n    \"type\": 'market',\n //   \"limit_price\": price,\n    \"client_order_id\": client_order_id,\n//    \"subtag\": subtag,\n    \"time_in_force\": \"gtc\"\n};\n\nmsg.payload = temp\nnode.warn(msg.payload)\nmsg.ticker = ticker\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1880,
        "wires": [
            [
                "e94cefa5685c94ac",
                "c53df91a2a032dcc"
            ]
        ]
    },
    {
        "id": "e94cefa5685c94ac",
        "type": "alpaca-order",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 610,
        "y": 1880,
        "wires": [
            [
                "a5175c1b66944ca5"
            ]
        ]
    },
    {
        "id": "a5175c1b66944ca5",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "insert into order_confirms table",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nsubtag = flow.get(\"algo_name\")\n\nlet result = symbol.includes(\"/\");\nif (result == true) {\n    symbol = symbol.replace(\"/\",\"\")\n}\n\nlet sql = \"insert into order_confirms(id, client_order_id, created_at, updated_at, submitted_at, asset_id, symbol, asset_class, qty, order_type, type, side, time_in_force, status, subtag, source,extended_hours) values \"\nsql += \"('\" + id + \"', '\" + client_order_id + \"', '\" + created_at + \"', '\" + updated_at + \"', '\" + submitted_at + \"', '\" + asset_id + \"', '\" + symbol + \"', '\" + asset_class + \"', '\" + qty + \"', '\" + order_type + \"', '\" + type + \"', '\" + side + \"', '\" + time_in_force + \"', '\" + status + \"', '\" + subtag + \"', '\" + source + \"', '\" + extended_hours+ \"'); \" \n\nmsg.query = sql\nnode.warn(msg.query)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1880,
        "wires": [
            [
                "819435775de4bf0e"
            ]
        ]
    },
    {
        "id": "819435775de4bf0e",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1080,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "21db7bb9c3f8f0e6",
        "type": "split",
        "z": "610a975cc570ea94",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1030,
        "y": 1940,
        "wires": [
            [
                "acf02cb56bb34ca0"
            ]
        ]
    },
    {
        "id": "3dbc8137c957d5fb",
        "type": "alpaca-query-order",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 860,
        "y": 1940,
        "wires": [
            [
                "21db7bb9c3f8f0e6"
            ]
        ]
    },
    {
        "id": "80ebf6f4c82018fc",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get last closed order paper",
        "func": "/* Get Flow variables */\n\nlet ordertype = flow.get(\"orders\")\n//let limit  = flow.get(\"cnt\")\nordertype = \"closed\"\n\n/* Setup alpaca request arguments */\n\nmsg.payload = {\n    status: ordertype, // \"open or closed\"\n    limit: \"10\", // default is 500\n\tdirection: \"desc\" //  \"asc or desc\"\n\n}\n\n//node.warn(msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1940,
        "wires": [
            [
                "3dbc8137c957d5fb"
            ]
        ]
    },
    {
        "id": "acf02cb56bb34ca0",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "update orders confirms",
        "func": "let ticker = flow.get(\"ticker\")\n\n\nlet id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nif (qty === null) { qty = 0 }\n\nlet filled_qty = msg.payload[\"filled_qty\"]\nif (filled_qty === null) { filled_qty = 0 }\n\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nif (filled_avg_price === null) { filled_avg_price = 0 }\n\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\n\nlet limit_price = msg.payload[\"limit_price\"]\nif (limit_price === null) { limit_price = 0 }\n\nlet stop_price = msg.payload[\"stop_price\"]\nif (stop_price === null ){ stop_price = 0}\n\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\n\nlet trail_percent = msg.payload[\"trail_percent\"]\nif (trail_percent === null) { trail_percent = 0 }\n\nlet trail_price = msg.payload[\"trail_price\"]\nif (trail_price === null) { trail_price = 0 }\n\nlet hwm = msg.payload[\"hwm\"]\nlet source = msg.payload[\"source\"]\nlet subtag = flow.get(\"algo_name\")\n\n\nmsg.query = \"update order_confirms set filled_at = '\" + filled_at + \"', filled_qty = '\" + filled_qty + \"', filled_avg_price = '\" + filled_avg_price + \"', limit_price = '\" + limit_price + \"', status = '\" + status + \"', subtag = '\" + subtag+ \"', source = '\" + source + \"', extended_hours = '\" + extended_hours+ \"' where id = '\" +id+ \"';\"\n//node.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2000,
        "wires": [
            [
                "5ca13cd4c18752d1"
            ]
        ]
    },
    {
        "id": "5ca13cd4c18752d1",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1000,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "c53df91a2a032dcc",
        "type": "delay",
        "z": "610a975cc570ea94",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 1940,
        "wires": [
            [
                "80ebf6f4c82018fc"
            ]
        ]
    },
    {
        "id": "e399f638522ada31",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Confirm that the order was not filled and the position of SPY = 0",
        "info": "",
        "x": 530,
        "y": 1700,
        "wires": []
    },
    {
        "id": "307dab78f8438666",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1740,
        "wires": [
            [
                "cbc386a58ef1b423"
            ]
        ]
    },
    {
        "id": "cbc386a58ef1b423",
        "type": "alpaca-position-query",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 410,
        "y": 1740,
        "wires": [
            [
                "e58cef5df0f96546"
            ]
        ]
    },
    {
        "id": "e58cef5df0f96546",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get values from alpaca positions ",
        "func": "let item = 0\nlet symbol = ''\nlet ticker = flow.get(\"ticker\")\nmsg.ticker = ticker\nlet symbols  = [];\n\nfor (item of msg.payload) {\n    symbol = item.symbol;\n    symbols.push(symbol);\n}\n\n//node.warn(symbols)\n\nlet result = symbols.includes(ticker);\nnode.warn(result)\n\nif ( result == true){ node.warn(\"this is true\")\n//    return msg;\n}\n\n\nif (result == false) { node.warn(\"this is false\") \nreturn msg;}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1740,
        "wires": [
            [
                "e5be4ae028530052"
            ]
        ]
    },
    {
        "id": "e5be4ae028530052",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "continue if not held",
        "func": "let symbol = msg.ticker\nnode.warn(\"Symbol: \" +symbol+ \" not held currently\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1740,
        "wires": [
            [
                "820f3fbc45c6f63e"
            ]
        ]
    },
    {
        "id": "3b3dbec58fbcd93a",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Confirm that the position of SPY <>  0 before making covering order",
        "info": "",
        "x": 540,
        "y": 2100,
        "wires": []
    },
    {
        "id": "dd70652668b8039b",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 2140,
        "wires": [
            [
                "990c92e1202cf61b"
            ]
        ]
    },
    {
        "id": "990c92e1202cf61b",
        "type": "alpaca-position-query",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 410,
        "y": 2140,
        "wires": [
            [
                "ecadddf5f607fa9f"
            ]
        ]
    },
    {
        "id": "ecadddf5f607fa9f",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get values from alpaca positions ",
        "func": "let item = 0\nlet ticker = flow.get(\"ticker\")\nlet symbol = ''\n\nmsg.ticker = ticker\nlet symbols  = [];\n\n\nfor (item of msg.payload) {\n    symbol = item.symbol;\n    symbols.push(symbol);\n}\n\n//node.warn(symbols)\n\nlet result = symbols.includes(ticker);\nnode.warn(result)\n\nif ( result == true){ node.warn(\"this is true\")\n    return msg;\n}\n\n\nif (result == false) { node.warn(\"this is false\") \n//return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2140,
        "wires": [
            [
                "d08d9d1ef6488468"
            ]
        ]
    },
    {
        "id": "d08d9d1ef6488468",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "continue if not false",
        "func": "let symbol = msg.ticker\nnode.warn(\"Symbol: \" +symbol+ \" position <> 0\")\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2140,
        "wires": [
            [
                "1fefd433ec4a824d"
            ]
        ]
    },
    {
        "id": "1fefd433ec4a824d",
        "type": "alpaca-position-query",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 410,
        "y": 2200,
        "wires": [
            [
                "e4df49413c11bedb"
            ]
        ]
    },
    {
        "id": "e4df49413c11bedb",
        "type": "split",
        "z": "610a975cc570ea94",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 2200,
        "wires": [
            [
                "a1c266eb8302d434"
            ]
        ]
    },
    {
        "id": "a1c266eb8302d434",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "insert into portfolios from order_confirms",
        "func": "let symbol = msg.ticker\nlet algo_name = msg.subtag\n\n\nlet asset_id = msg.payload[\"asset_id\"]\nlet ticker = msg.payload[\"symbol\"]\nlet exchange = msg.payload[\"exchange\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet asset_marginable = msg.payload[\"asset_marginable\"]\nlet qty = msg.payload[\"qty\"]\nlet avg_entry_price = msg.payload[\"avg_entry_price\"]\nlet side = msg.payload[\"side\"]\nlet market_value = msg.payload[\"market_value\"]\nlet cost_basis = msg.payload[\"cost_basis\"]\nlet unrealized_pl = msg.payload[\"unrealized_pl\"]\nlet unrealized_plpc = msg.payload[\"unrealized_plpc\"]\nlet unrealized_intraday_pl = msg.payload[\"unrealized_intraday_pl\"]\nlet unrealized_intraday_plpc = msg.payload[\"unrealized_intraday_plpc\"]\nlet current_price = msg.payload[\"current_price\"]\nlet lastday_price = msg.payload[\"lastday_price\"]\nlet change_today = msg.payload[\"change_today\"]\nlet qty_available = msg.payload[\"qty_available\"]\n\nqty = parseFloat(qty)\ncurrent_price = parseFloat(current_price)\nlet market = (qty * current_price)\n\nlet profittoday = parseFloat(unrealized_intraday_pl)\nprofittoday = profittoday.toFixed(2)\n\nlet profit = parseFloat(unrealized_pl) \nprofit = profit.toFixed(2)\n\n\nlet profittodaypct = (profittoday / market) * 100 \n\nlet profitpct = (profit / market) * 100 \n\n//node.warn(\"Symbol: \" +symbol+ \" Ticker: \" +ticker)\n\nlet result = ticker.includes(symbol);\n\n\nif ( result == true ){\n    msg.qty = qty\n    msg.price = current_price\n    msg.ticker = symbol\n    msg.profit = unrealized_pl\n    msg.profitpct = unrealized_plpc\n\n    node.warn(\"Symbol: \" +msg.ticker+ \" Price: \" +msg.price+ \" Qty: \" +msg.qty)\n    return msg;\n\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2200,
        "wires": [
            [
                "6cf90b9c2fea979b"
            ]
        ]
    },
    {
        "id": "a6f690fd080f4f9c",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "3:01 AM",
        "props": [],
        "repeat": "",
        "crontab": "01 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "7ac9031148a5f78e"
            ]
        ]
    },
    {
        "id": "7ac9031148a5f78e",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "set tickers",
        "func": "let tickers = 'SPY'\nmsg.tickers = tickers\nmsg.portfolioname = 'Buy/Short SPY on News Sentiment'\nnode.warn(tickers)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 320,
        "wires": [
            [
                "8b024f4b4cfd2f64"
            ]
        ]
    },
    {
        "id": "6d84d473c8c5b471",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Flow 1: Define Strategy and Set Trading Values (ONCE)",
        "info": "",
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbe1598d42428ce0",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "define values required for adding trade to portfolio",
        "func": "// portfolio_id is set to unixtime\nlet d = Date.now() // use to dynamically assign id\n\nlet id = d\nlet login = 'pta17'\nlet ticker = 'SPY'\nlet algo_name = 'Buy/Short SPY on News'\nlet asset_class = 'stocks' // stocks or crypto\nlet number = 5 // number of tickers in portfolio\nlet target = 0.01 // target profit \nlet account = 'paper'\nlet psize = 50000 // size of portfolio\nlet status = 'running'\nlet algo_type = 'intraday'\nlet benchmark = 'SPY'\n\nmsg.id = id\nmsg.login = login\nmsg.ticker = ticker\nmsg.algo_name = algo_name\nmsg.asset_class = asset_class\nmsg.number = number\nmsg.target = target\nmsg.account = account\nmsg.psize = psize\nmsg.status = status\nmsg.algo_type = algo_type\nmsg.benchmark = benchmark\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "b91ae866d8a1d83e"
            ]
        ]
    },
    {
        "id": "a319dbf1c606e7d0",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "3 AM",
        "props": [],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "dbe1598d42428ce0"
            ]
        ]
    },
    {
        "id": "b91ae866d8a1d83e",
        "type": "change",
        "z": "610a975cc570ea94",
        "name": "store as flow vars",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "flow",
                "to": "id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "login",
                "pt": "flow",
                "to": "login",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "account",
                "pt": "flow",
                "to": "account",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ticker",
                "pt": "flow",
                "to": "ticker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_name",
                "pt": "flow",
                "to": "algo_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "asset_class",
                "pt": "flow",
                "to": "asset_class",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "number",
                "pt": "flow",
                "to": "number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "psize",
                "pt": "flow",
                "to": "psize",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_type",
                "pt": "flow",
                "to": "algo_type",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "benchmark",
                "pt": "flow",
                "to": "benchmark",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "flow",
                "to": "target",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "49af4cabc95b5cc2",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Flow 2: Create new entry in algos table (ONCE)",
        "info": "",
        "x": 240,
        "y": 420,
        "wires": []
    },
    {
        "id": "71302b167c39b5da",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "add values to algos table",
        "func": "let login = flow.get(\"login\")\nlet id = flow.get(\"id\")\nlet algo_name = flow.get(\"algo_name\")\nlet algo_type = flow.get(\"algo_type\")\nlet status = flow.get(\"status\")\nlet portfolio_size = flow.get(\"psize\")\nlet benchmark = flow.get(\"benchmark\")\nlet benchmark_start = global.get(\"spy_current\")\n\nmsg.query = \"insert into algos (login,id,algo_name,algo_type,status,portfolio_size,benchmark,benchmark_start) values ('\" + login + \"','\" +id+ \"','\" +algo_name+ \"','\" +algo_type+ \"','\" +status+ \"','\" +portfolio_size+ \"','\" +benchmark+ \"','\" +benchmark_start+ \"');\"\nnode.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "1d391aad0ed29f13"
            ]
        ]
    },
    {
        "id": "1d391aad0ed29f13",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 600,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3ee3302acfd19638",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "71302b167c39b5da"
            ]
        ]
    },
    {
        "id": "c73495d75adf6d06",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "Display Algos",
        "props": [
            {
                "p": "query",
                "v": "select * from algos",
                "vt": "str"
            },
            {
                "p": "query1",
                "v": "delete from algos where id = 1671644577762",
                "vt": "str"
            },
            {
                "p": "query2",
                "v": "update algos set login = 'pta19'",
                "vt": "str"
            },
            {
                "p": "query1",
                "v": "update algos set gain_today = -158.7135149876422767159823658, gain_alltime = -158.71351498764227674, pctgain_today = 0, pctgain_alltime = 0 where algo_name = 'Buy and Sell BTCUSD on Profit Target';",
                "vt": "str"
            },
            {
                "p": "query1",
                "v": "select * from order_confirms",
                "vt": "str"
            },
            {
                "p": "query1",
                "v": "update order_confirms set subtag = 'Buy/Short SPY on News' where symbol = 'SPY'",
                "vt": "str"
            },
            {
                "p": "query1",
                "v": "update order_confirms set subtag = 'Trade BTCUSD'  where symbol = 'BTC/USD'",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 870,
        "y": 460,
        "wires": [
            [
                "4a2747393b95bfe1"
            ]
        ]
    },
    {
        "id": "4a2747393b95bfe1",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "c36fb368843d931b"
            ]
        ]
    },
    {
        "id": "c36fb368843d931b",
        "type": "debug",
        "z": "610a975cc570ea94",
        "name": "debug 252",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d4de448b4c3badd",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Flow 3: Create trading flow (ONCE)",
        "info": "",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "58aad8b28c8559bf",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "create Alpaca order ",
        "func": "let ticker = msg.symbol\nlet algo_name = flow.get(\"algo_name\")\nlet number = flow.get(\"number\")\nlet psize = flow.get(\"psize\")\nlet price = msg.price\n\nlet qty = ((psize / number) / price)\nqty = qty.toFixed(0) // round to whole numbers for limit trades\n\nprice = Number(price) // change string to number\nprice = price.toFixed(2)\n\n\n// create a unique clientid with unixtime\nlet d = Date.now()\nlet client_order_id = ticker + d\nmsg.clientorderid = client_order_id // passes this variable in the flow \n\nlet subtag = algo_name\n\nlet sentiment = flow.get(\"sentiment\")\nlet side = ''\nlet limit_price = 0\n\n\nif ( sentiment > 0){\n     side == 'buy'\n    limit_price = (price + 0)\n}\n\n\nif ( sentiment < 0){ \n    side = 'sell'\n    limit_price = (price + 0)\n    \n    }\n\n\n\n\nlimit_price = Number(limit_price) // change string to number\nlimit_price = limit_price.toFixed(2)\n\nnode.warn(\"Price: \" + price + \" Limit Price:\" + limit_price)\n\n// create a order for Alpaca\nlet temp = ''\ntemp = {\n    \"symbol\": ticker,\n    \"qty\": qty,\n    \"side\": side,\n    \"type\": 'limit',\n    \"client_order_id\": client_order_id,\n    \"limit_price\": limit_price,\n//    \"subtag\": subtag,\n    \"time_in_force\": \"day\"\n};\n\nmsg.payload = temp\nnode.warn(msg.payload)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 680,
        "wires": [
            [
                "11f440bb1bfd766e"
            ]
        ]
    },
    {
        "id": "11f440bb1bfd766e",
        "type": "alpaca-order",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "b3457f0dfb7e1d01"
            ]
        ]
    },
    {
        "id": "ca02f93fbc34355c",
        "type": "function-npm",
        "z": "610a975cc570ea94",
        "name": "Get price of trade trade",
        "func": "let symbol = msg.polygon_symbol\n\nlet cnt = 1 // gets last trade\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\nnode.warn(msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "d9db3fa55353b3ca"
            ]
        ]
    },
    {
        "id": "05b54391c80859e2",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "4 AM daily",
        "props": [],
        "repeat": "",
        "crontab": "00 04 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "9a0685abeb8f0839"
            ]
        ]
    },
    {
        "id": "696425387c799ebb",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": " last trade",
        "func": "let price = 0\nlet item = 0\n\n\nfor (item of msg.payload.results) {\n    price = item.price;\n    \n}\n\nmsg.price = price\n//node.warn(price)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "58aad8b28c8559bf"
            ]
        ]
    },
    {
        "id": "d9db3fa55353b3ca",
        "type": "polygon-last-trade-v3",
        "z": "610a975cc570ea94",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "696425387c799ebb"
            ]
        ]
    },
    {
        "id": "50d9ca7aa9ad5fc7",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1040,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b3457f0dfb7e1d01",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "insert into order_confirms table",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nsubtag = flow.get(\"algo_name\")\n\nlet result = symbol.includes(\"/\");\nif (result == true) {\n    symbol = symbol.replace(\"/\",\"\")\n}\n\nlet sql = \"insert into order_confirms(id, client_order_id, created_at, updated_at, submitted_at, asset_id, symbol, asset_class, qty, order_type, type, side, time_in_force, status, subtag, source,extended_hours) values \"\nsql += \"('\" + id + \"', '\" + client_order_id + \"', '\" + created_at + \"', '\" + updated_at + \"', '\" + submitted_at + \"', '\" + asset_id + \"', '\" + symbol + \"', '\" + asset_class + \"', '\" + qty + \"', '\" + order_type + \"', '\" + type + \"', '\" + side + \"', '\" + time_in_force + \"', '\" + status + \"', '\" + subtag + \"', '\" + source + \"', '\" + extended_hours+ \"'); \" \n\nmsg.query = sql\nnode.warn(msg.query)\nmsg.id = id\nmsg.sql = \"truncate table temp_ids\"\nnode.warn(msg.sql)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 680,
        "wires": [
            [
                "50d9ca7aa9ad5fc7"
            ]
        ]
    },
    {
        "id": "9a0685abeb8f0839",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get symbols from alpaca_assets",
        "func": "let symbol = flow.get(\"tickers\")\nlet polygon_symbol = symbol\nlet alpaca_symbol = symbol\n\nmsg.alpaca_symbol = symbol\nmsg.polygon_symbol = polygon_symbol\nmsg.symbol = symbol\nnode.warn(\"Symbol: \" +symbol+ \" Polygon Symbol: \" +polygon_symbol+ \" Alpaca Symbol: \" +alpaca_symbol) \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 600,
        "wires": [
            [
                "ca02f93fbc34355c"
            ]
        ]
    },
    {
        "id": "8b024f4b4cfd2f64",
        "type": "change",
        "z": "610a975cc570ea94",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tickers",
                "pt": "flow",
                "to": "tickers",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "985228104f5a6736",
                "bc230ab5432f6408"
            ]
        ]
    },
    {
        "id": "985228104f5a6736",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get tickers ",
        "func": "let ticker = msg.tickers\nmsg.payload = ticker\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "727dd58a70f99efe"
            ]
        ]
    },
    {
        "id": "727dd58a70f99efe",
        "type": "split",
        "z": "610a975cc570ea94",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "fb08631fa416e518"
            ]
        ]
    },
    {
        "id": "fb08631fa416e518",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "insert into tickers",
        "func": "let id = flow.get(\"id\")\nlet symbol = msg.payload\nlet portfolioname = flow.get(\"algo_name\")\nsymbol = symbol.replace(\" \",\"\")\n//msg.query = \"delete from tickers where symbol = '\" + symbol + \"';\"\nmsg.query = \"insert into tickers (id, symbol, portfolioname) values (\" +id+ \",'\" + symbol + \"', '\" +portfolioname + \"');\"\n//node.warn(msg.query)\nmsg.symbol = symbol\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "c57852f7675ee8d6"
            ]
        ]
    },
    {
        "id": "c57852f7675ee8d6",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c6dbd8048d30b8a5",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get tickers with name from alpaca_assets",
        "func": "msg.query = \"update tickers set name = alpaca_assets.name FROM alpaca_assets where alpaca_assets.symbol = tickers.symbol\"\n//node.warn(msg.query)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 360,
        "wires": [
            [
                "91e6c1cad6fc593c"
            ]
        ]
    },
    {
        "id": "bc230ab5432f6408",
        "type": "delay",
        "z": "610a975cc570ea94",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "c6dbd8048d30b8a5"
            ]
        ]
    },
    {
        "id": "91e6c1cad6fc593c",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f88d335d74f8d364",
        "type": "comment",
        "z": "610a975cc570ea94",
        "name": "Flow 5: Sell SPY Prior to Market Close",
        "info": "",
        "x": 170,
        "y": 780,
        "wires": []
    },
    {
        "id": "935b6022392ca954",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "create Alpaca sell order ",
        "func": "let ticker = msg.alpaca_symbol\nlet algo_name = flow.get(\"algo_name\")\nlet number = flow.get(\"number\")\nlet psize = flow.get(\"psize\")\nlet price = msg.price\nlet status = msg.status\nlet diff = flow.get(\"diff\")\n\n//node.warn(\"Alpaca Symbol: \" +ticker+ \" Price: \" +price)\n\nlet qty = ((psize / number) / price)\n\nqty = qty.toFixed(0) // round to whole numbers for limit trades\n\n// create a unique clientid with unixtime\nlet d = Date.now()\nlet client_order_id = ticker + d\nmsg.clientorderid = client_order_id // passes this variable in the flow \n\n\nlet subtag = algo_name\n\n\n// logic for sell order\nlet profit = 0\nprofit = msg.profit\n\nnode.warn(\"Ticker: \" + ticker + \" Diff: \" +diff+ \" Status: \" + status + \" Qty: \" + qty + \" Orderid: \" + client_order_id + \" Algo Name: \" + subtag)\n\n\nqty = msg.qty\nlet temp = ''\n\nlet order_type = 'market' // select limit for limit orders\n\nif ( order_type == 'limit'){\n\n\ntemp = {\n            \"symbol\": ticker,\n            \"qty\": qty,\n            \"side\": 'sell',\n            \"type\": order_type,\n            \"client_order_id\": client_order_id,\n            \"limit_price\": price,  \n            //    \"subtag\": subtag,\n            \"time_in_force\": \"gtc\"\n        };\n}\n\nelse {\n\n    temp = {\n        \"symbol\": ticker,\n        \"qty\": qty,\n        \"side\": 'sell',\n        \"type\": order_type,\n        \"client_order_id\": client_order_id,\n        //  limit_price\": price,  // limit orders only\n        //    \"subtag\": subtag,\n        \"time_in_force\": \"gtc\"\n    };\n}\n\nmsg.payload = temp\nnode.warn(msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1060,
        "wires": [
            [
                "5f638b1acab136ce"
            ]
        ]
    },
    {
        "id": "5f638b1acab136ce",
        "type": "alpaca-order",
        "z": "610a975cc570ea94",
        "conf": "e535f42f1df1b25f",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "0998d9664ffda673"
            ]
        ]
    },
    {
        "id": "b51311d4ab25aa3a",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get list of tickers for this flow",
        "func": "let ticker = flow.get(\"ticker\")\n//node.warn(ticker)\nmsg.payload = ticker\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 940,
        "wires": [
            [
                "55297b1bb3b1770c"
            ]
        ]
    },
    {
        "id": "55297b1bb3b1770c",
        "type": "split",
        "z": "610a975cc570ea94",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 940,
        "wires": [
            [
                "9806c4af990f9865"
            ]
        ]
    },
    {
        "id": "128e9f4277455173",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get alt symbols",
        "func": "let id = msg.id\nlet symbol = msg.payload\nsymbol = symbol.replace(\" \",\"\")\nmsg.query = \"select polygon_symbol, alpaca_symbol from alpaca_assets where symbol = '\" +symbol+ \"';\"\n//node.warn(msg.query)\nmsg.symbol = symbol\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 940,
        "wires": [
            [
                "5da70938f5b94e20"
            ]
        ]
    },
    {
        "id": "9806c4af990f9865",
        "type": "delay",
        "z": "610a975cc570ea94",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 940,
        "wires": [
            [
                "128e9f4277455173"
            ]
        ]
    },
    {
        "id": "619c9c4025dc82e7",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "get symbols from alpaca_assets",
        "func": "let polygon_symbol = msg.payload[\"polygon_symbol\"]\nlet alpaca_symbol = msg.payload[\"alpaca_symbol\"]\nlet symbol = msg.symbol\n\nmsg.alpaca_symbol = alpaca_symbol\nmsg.polygon_symbol = polygon_symbol\nmsg.symbol = symbol\n//node.warn(\"Symbol: \" +symbol+ \" Polygon Symbol:\" +polygon_symbol+ \" Alpaca Symbol: \" +alpaca_symbol) \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "41d9bbb6fb3ef375"
            ]
        ]
    },
    {
        "id": "5da70938f5b94e20",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 960,
        "y": 940,
        "wires": [
            [
                "4fb0f55a272f2f83"
            ]
        ]
    },
    {
        "id": "4fb0f55a272f2f83",
        "type": "split",
        "z": "610a975cc570ea94",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "619c9c4025dc82e7"
            ]
        ]
    },
    {
        "id": "898cd13476cb571b",
        "type": "inject",
        "z": "610a975cc570ea94",
        "name": "3:50 PM",
        "props": [],
        "repeat": "",
        "crontab": "50 15 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "be755429c9e62411"
            ]
        ]
    },
    {
        "id": "05a226330923b40f",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 920,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "0998d9664ffda673",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "insert into order_confirms table",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nsubtag = flow.get(\"algo_name\")\n\nlet result = symbol.includes(\"/\");\nif (result == true) {\n    symbol = symbol.replace(\"/\",\"\")\n}\n\nlet sql = \"insert into order_confirms(id, client_order_id, created_at, updated_at, submitted_at, asset_id, symbol, asset_class, qty, order_type, type, side, time_in_force, status, subtag, source,extended_hours) values \"\nsql += \"('\" + id + \"', '\" + client_order_id + \"', '\" + created_at + \"', '\" + updated_at + \"', '\" + submitted_at + \"', '\" + asset_id + \"', '\" + symbol + \"', '\" + asset_class + \"', '\" + qty + \"', '\" + order_type + \"', '\" + type + \"', '\" + side + \"', '\" + time_in_force + \"', '\" + status + \"', '\" + subtag + \"', '\" + source + \"', '\" + extended_hours+ \"'); \" \n\nmsg.query = sql\nnode.warn(msg.query)\nmsg.id = id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1120,
        "wires": [
            [
                "05a226330923b40f"
            ]
        ]
    },
    {
        "id": "41d9bbb6fb3ef375",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "check positions table ",
        "func": "let ticker = msg.symbol\nmsg.query = \"select * from positions where symbol = '\" +ticker+ \"';\" \n//node.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "63724fc208f6a30c"
            ]
        ]
    },
    {
        "id": "63724fc208f6a30c",
        "type": "postgresql",
        "z": "610a975cc570ea94",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 900,
        "y": 1000,
        "wires": [
            [
                "7215958b2c18d603"
            ]
        ]
    },
    {
        "id": "be755429c9e62411",
        "type": "delay",
        "z": "610a975cc570ea94",
        "name": "Wait 5 secs for position table to update",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 880,
        "wires": [
            [
                "b51311d4ab25aa3a"
            ]
        ]
    },
    {
        "id": "7215958b2c18d603",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "check curent position",
        "func": "let arr = msg.payload\nlet len = arr.length\nlet status = len // shows if payload is empty\n//node.warn(\"Status: \" +status)\n\nif ( status == 0){\n    //node.warn(\"position is 0\")\n    msg.status = 0\n} \n\nelse {\n    //node.warn(\"go to next flow\")\n    msg.status = 1\n }\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1000,
        "wires": [
            [
                "9b7f57a65d743af2"
            ]
        ]
    },
    {
        "id": "9b7f57a65d743af2",
        "type": "switch",
        "z": "610a975cc570ea94",
        "name": "",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "e618ea310f94f595"
            ],
            []
        ]
    },
    {
        "id": "d1aea78de2b38f21",
        "type": "function",
        "z": "610a975cc570ea94",
        "name": "Get values from positions",
        "func": "let qty = msg.payload[\"qty\"]\nlet profit = msg.payload[\"unrealized_pl\"]\nlet price = msg.payload[\"current_price\"]\n\nnode.warn(\"Price: \" +price+ \" Qty: \" +qty+ \" Profit: \" +profit)\n\nmsg.price = price\nmsg.qty = qty\nmsg.profit = profit\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "935b6022392ca954"
            ]
        ]
    },
    {
        "id": "e618ea310f94f595",
        "type": "split",
        "z": "610a975cc570ea94",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "d1aea78de2b38f21"
            ]
        ]
    },
    {
        "id": "f8ca5a41.3e1448",
        "type": "MySQLdatabase",
        "name": "news",
        "host": "ptsapi.cax8fspskl8t.us-east-1.rds.amazonaws.com",
        "port": "3306",
        "db": "news",
        "tz": "EST5EDT",
        "charset": "UTF8"
    },
    {
        "id": "e535f42f1df1b25f",
        "type": "alpaca-account",
        "name": "paper",
        "keyId": "PK4TI6GDJ7NN146CF8YA",
        "paper": true
    },
    {
        "id": "7455395cf269fb2b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "docker",
        "userFieldType": "str",
        "password": "docker",
        "passwordFieldType": "str"
    },
    {
        "id": "651f0aab10dc1632",
        "type": "polygon-account",
        "name": "Polygon Key"
    }
]