Display SIC categories.json
[
    {
        "id": "3d598823904ebe14",
        "type": "tab",
        "label": "Display SIC Categories",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5f61de1968bbc7b",
        "type": "inject",
        "z": "3d598823904ebe14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "51a9e48e42276acd"
            ]
        ]
    },
    {
        "id": "450d0341dc07847d",
        "type": "comment",
        "z": "3d598823904ebe14",
        "name": "Display list of SIC categories",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "51a9e48e42276acd",
        "type": "function",
        "z": "3d598823904ebe14",
        "name": "display sic categories",
        "func": "msg.query = \"select distinct sic_description, sic_code from tickers_detail order by sic_description asc\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "b616ccc748436fc3"
            ]
        ]
    },
    {
        "id": "b616ccc748436fc3",
        "type": "postgresql",
        "z": "3d598823904ebe14",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "fc68cd2b58623ee6"
            ]
        ]
    },
    {
        "id": "fc68cd2b58623ee6",
        "type": "function",
        "z": "3d598823904ebe14",
        "name": "output",
        "func": "let code = ''\nlet name = ''\n\nfor (let item of msg.payload) {\n    let code = item.sic_code;\n    let name = item.sic_description;\n    node.warn(code+ \"|\" +name)\n\n\n//    tickers += ticker+ \", \"\n}\n\n// portfolio_id is set to unixtime\nlet d = Date.now() // use to dynamically assign id\nmsg.id = d\n//msg.payload = tickers\n//node.warn(tickers)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f25a5ec0f1453228",
        "type": "http in",
        "z": "3d598823904ebe14",
        "name": "/api/download_sic",
        "url": "/api/download_sic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "c3b9b8282b97408b"
            ]
        ]
    },
    {
        "id": "50c68f1de82ab5b8",
        "type": "http response",
        "z": "3d598823904ebe14",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json",
            "Content-Disposition": "attachment; filename=\"output.csv\""
        },
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "be59445cfb44ad59",
        "type": "csv",
        "z": "3d598823904ebe14",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": " ",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "f722a967badea0bd"
            ]
        ]
    },
    {
        "id": "c3b9b8282b97408b",
        "type": "function",
        "z": "3d598823904ebe14",
        "name": "export query",
        "func": "msg.query = \"select distinct sic_description, sic_code from tickers_detail order by sic_description asc\"\nnode.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "0a078ffea77da68c"
            ]
        ]
    },
    {
        "id": "f722a967badea0bd",
        "type": "file",
        "z": "3d598823904ebe14",
        "name": "write report",
        "filename": "/data/store/output.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "50c68f1de82ab5b8"
            ]
        ]
    },
    {
        "id": "0a078ffea77da68c",
        "type": "postgresql",
        "z": "3d598823904ebe14",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "be59445cfb44ad59"
            ]
        ]
    },
    {
        "id": "7455395cf269fb2b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "docker",
        "userFieldType": "str",
        "password": "docker",
        "passwordFieldType": "str"
    }
]