Trade TSLA Intraday.json
[
    {
        "id": "f0045e6d83721444",
        "type": "tab",
        "label": "Trade TSLA Intraday",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e3408387c66aaea",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "Start",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "bd87cea7be311e35"
            ]
        ]
    },
    {
        "id": "bd87cea7be311e35",
        "type": "function-npm",
        "z": "f0045e6d83721444",
        "name": "Get past 1000 trades",
        "func": "let symbol = flow.get(\"polygon_ticker\")\n\n// use polygon format for cryptos\n//let symbol = \"X:BTCUSD\"\n\n\n\nlet cnt = 1000 // set count here\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\n//node.warn(msg.payload)\nmsg.symbol = symbol\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "3f62dbde782cd32d"
            ]
        ]
    },
    {
        "id": "3f62dbde782cd32d",
        "type": "polygon-last-trade-v3",
        "z": "f0045e6d83721444",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "5b55dbbab0e857b3"
            ]
        ]
    },
    {
        "id": "5b55dbbab0e857b3",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "create array for average",
        "func": "const prices = [];\nlet item = ''\nlet price = 0\nlet ux = 0\n\nfor (item of msg.payload.results) {\n    price = item.price;\n    prices.push(price);  \n//    node.warn(price)\n\n}\n\n//node.warn(prices)\nmsg.payload = prices\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 160,
        "wires": [
            [
                "04ab20d4ac4ee4f4"
            ]
        ]
    },
    {
        "id": "590a4a3ddbeeb420",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "display avg",
        "func": "let avg = msg.moving_avg\navg = avg.toFixed(2)\nlet symbol = msg.symbol\n//node.warn(\"Ticker: \" +symbol+ \" Moving Avg: \" +avg)\nmsg.moving_avg = avg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "6f0841d177c37786"
            ]
        ]
    },
    {
        "id": "6f0841d177c37786",
        "type": "function-npm",
        "z": "f0045e6d83721444",
        "name": "Get last trade",
        "func": "let symbol = msg.symbol\n\nlet cnt = 1\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\n//node.warn(msg.payload)\nmsg.symbol = symbol\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "408cca3cf6fdee3a"
            ]
        ]
    },
    {
        "id": "408cca3cf6fdee3a",
        "type": "polygon-last-trade-v3",
        "z": "f0045e6d83721444",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "2153e7765562ec05"
            ]
        ]
    },
    {
        "id": "2153e7765562ec05",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "display diff",
        "func": "const prices = [];\nlet item = ''\nlet price = 0\nlet ux = 0\n\nfor (item of msg.payload.results) {\n    price = item.price; // this is the price of the last trade\n\n}\n\n\nlet avg = msg.moving_avg\nlet ticker = msg.symbol\n\nlet diff = price - avg\ndiff = diff.toFixed(2)\n\n//node.warn(\"Ticker: \" + ticker + \" Current Price: \" + price + \" Avg Price: \" + avg + \" Diff: \" + diff)\nmsg.diff = diff\nmsg.price = price\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "df39d3a411e1f264"
            ]
        ]
    },
    {
        "id": "df39d3a411e1f264",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "diff",
                "pt": "flow",
                "to": "diff",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "price",
                "pt": "flow",
                "to": "price",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "04ab20d4ac4ee4f4",
        "type": "calculator",
        "z": "f0045e6d83721444",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "moving_avg",
        "operation": "avg",
        "constant": "",
        "round": false,
        "decimals": "0",
        "x": 1000,
        "y": 160,
        "wires": [
            [
                "590a4a3ddbeeb420"
            ]
        ]
    },
    {
        "id": "395f52ddcaaa0fe9",
        "type": "comment",
        "z": "f0045e6d83721444",
        "name": "This flow calculates the difference between the current price and the moving average price.  Set the desired frequency in the inject node \"Start\".",
        "info": "",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "f4b028e4805d9109",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "Set trading ticker(s)",
        "props": [
            {
                "p": "ticker",
                "v": "TSLA",
                "vt": "str"
            },
            {
                "p": "alpaca_ticker",
                "v": "TSLA",
                "vt": "str"
            },
            {
                "p": "polygon_ticker",
                "v": "TSLA",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "f8ec65446b85412e"
            ]
        ]
    },
    {
        "id": "f8ec65446b85412e",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ticker",
                "pt": "flow",
                "to": "ticker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alpaca_ticker",
                "pt": "flow",
                "to": "alpaca_ticker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "polygon_ticker",
                "pt": "flow",
                "to": "polygon_ticker",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d8be4c978043a2e1",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "Display Polygon Ticker",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "polygon_ticker",
        "payloadType": "flow",
        "x": 620,
        "y": 60,
        "wires": [
            [
                "906770ab42fab2e9"
            ]
        ]
    },
    {
        "id": "906770ab42fab2e9",
        "type": "debug",
        "z": "f0045e6d83721444",
        "name": "debug 336",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "1e0547405f294aab",
        "type": "comment",
        "z": "f0045e6d83721444",
        "name": "Flow 1: Define Strategy and Set Trading Values (ONCE). Set profit target in define values (line 10).",
        "info": "",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "e0319f6fddd1fca8",
        "type": "comment",
        "z": "f0045e6d83721444",
        "name": "Flow 2: Create new entry in algos table (ONCE)",
        "info": "",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "50b7cf5ecd694d34",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "get tickers ",
        "func": "let ticker = flow.get(\"tickers\")\nmsg.payload = ticker\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "c571422243ab43f6"
            ]
        ]
    },
    {
        "id": "c571422243ab43f6",
        "type": "split",
        "z": "f0045e6d83721444",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "664e7ca43cfd9a1a"
            ]
        ]
    },
    {
        "id": "664e7ca43cfd9a1a",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "insert into tickers_paper",
        "func": "let id = flow.get(\"id\")\nlet symbol = msg.payload\nlet portfolioname = flow.get(\"algo_name\")\nsymbol = symbol.replace(\" \",\"\")\n//msg.query = \"delete from tickers where symbol = '\" + symbol + \"';\"\nmsg.query = \"insert into tickers_paper (id, symbol, portfolioname) values (\" +id+ \",'\" + symbol + \"', '\" +portfolioname + \"') ON CONFLICT DO NOTHING;\"\n//node.warn(msg.query)\nmsg.symbol = symbol\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 500,
        "wires": [
            [
                "058c09b8e3fc4982"
            ]
        ]
    },
    {
        "id": "058c09b8e3fc4982",
        "type": "postgresql",
        "z": "f0045e6d83721444",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 900,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "9c294f081f4ea74c",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "get tickers with name from alpaca_assets",
        "func": "msg.query = \"update tickers_paper set name = alpaca_assets.name FROM alpaca_assets where alpaca_assets.symbol = tickers_paper.symbol\"\n//node.warn(msg.query)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "8ef17411e3844931"
            ]
        ]
    },
    {
        "id": "47c7486e3bba0d11",
        "type": "delay",
        "z": "f0045e6d83721444",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "9c294f081f4ea74c"
            ]
        ]
    },
    {
        "id": "8ef17411e3844931",
        "type": "postgresql",
        "z": "f0045e6d83721444",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 900,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "10ee95747cb49501",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "define values required for adding trade to portfolio",
        "func": "// portfolio_id is set to unixtime\nlet d = Date.now() // use to dynamically assign id\n\nlet id = flow.get(\"id\")\nlet login = 'dansavage'\nlet ticker = flow.get(\"tickers\")\nlet qty = 1\nlet algo_name = flow.get(\"algo_name\")\nlet asset_class = 'stocks' // stocks or crypto\nlet number = 1 // number of tickers in portfolio\nlet target = 1.00 // target profit \nlet account = 'paper'\nlet psize = 10000 // size of portfolio\nlet status = 'running'\nlet algo_type = 'intraday'\nlet algo_status = 'long'\nlet benchmark = 'SPY'\n\n\nmsg.id = id\nmsg.login = login\nmsg.ticker = ticker\nmsg.qty = qty\nmsg.algo_name = algo_name\nmsg.asset_class = asset_class\nmsg.number = number\nmsg.target = target\nmsg.account = account\nmsg.psize = psize\nmsg.status = status\nmsg.algo_type = algo_type\nmsg.benchmark = benchmark\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "0174a4401b4eac5f"
            ]
        ]
    },
    {
        "id": "0174a4401b4eac5f",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "store as flow vars",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "flow",
                "to": "id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "login",
                "pt": "flow",
                "to": "login",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "account",
                "pt": "flow",
                "to": "account",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ticker",
                "pt": "flow",
                "to": "ticker",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_name",
                "pt": "flow",
                "to": "algo_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "asset_class",
                "pt": "flow",
                "to": "asset_class",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "number",
                "pt": "flow",
                "to": "number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "psize",
                "pt": "flow",
                "to": "psize",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_type",
                "pt": "flow",
                "to": "algo_type",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "benchmark",
                "pt": "flow",
                "to": "benchmark",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "flow",
                "to": "target",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "qty",
                "pt": "flow",
                "to": "qty",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3c88e1f9cafde700",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "31978ba7b11caf45"
            ]
        ]
    },
    {
        "id": "31978ba7b11caf45",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "set id,tickers, portfolioname",
        "func": "// portfolio_id is set to unixtime\nlet d = Date.now() // use to dynamically assign id\n\n\nmsg.id = d\nlet tickers = flow.get(\"ticker\")\nmsg.tickers = tickers\nmsg.algo_name = 'Trade TSLA Intraday'\nnode.warn(tickers)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "3c3b49a32f90e5b0"
            ]
        ]
    },
    {
        "id": "3c3b49a32f90e5b0",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tickers",
                "pt": "flow",
                "to": "tickers",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "id",
                "pt": "flow",
                "to": "id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_name",
                "pt": "flow",
                "to": "algo_name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "76d4b6424bc6b098",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "10ee95747cb49501"
            ]
        ]
    },
    {
        "id": "b39b1033ff219331",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "50b7cf5ecd694d34",
                "47c7486e3bba0d11"
            ]
        ]
    },
    {
        "id": "24ea32aa73e9ad8b",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "query",
                "v": "delete from algos where algo_name = 'Trade TSLA Intraday'",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 620,
        "wires": [
            [
                "d26ec14655ea8763"
            ]
        ]
    },
    {
        "id": "d26ec14655ea8763",
        "type": "postgresql",
        "z": "f0045e6d83721444",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 980,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0b556a9335d1aedd",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "add values to algos table",
        "func": "let id = flow.get(\"id\")\nlet ticker = flow.get(\"tickers\")\nlet algo_name = flow.get(\"algo_name\")\n\nlet login = flow.get(\"login\")\nlet asset_class = flow.get(\"asset_class\")\nlet number = flow.get(\"number\")\nlet target = flow.get(\"target\")\nlet account = flow.get(\"account\")\nlet psize = flow.get(\"psize\")\nlet algo_type = flow.get(\"algo_type\")\nlet status = flow.get(\"status\")\nlet benchmark = flow.get(\"benchmark\")\n\nlet benchmark_start = global.get(\"spy_current\")\n\nlet sql = \"insert into algos (login,id,account,algo_name,algo_type,status,portfolio_size,benchmark,benchmark_start) values \"\nsql += \"('\" + login + \"','\" + id + \"','\" + account + \"','\" + algo_name + \"','\" + algo_type + \"','\" + status + \"','\" + psize + \"','\" + benchmark + \"','\" + benchmark_start + \"') ON CONFLICT DO NOTHING;\"\nmsg.query = sql\nnode.warn(msg.query)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "b42ad2ab7c5f2c40"
            ]
        ]
    },
    {
        "id": "4fd12e4d097483ec",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "0b556a9335d1aedd"
            ]
        ]
    },
    {
        "id": "b42ad2ab7c5f2c40",
        "type": "postgresql",
        "z": "f0045e6d83721444",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "679c4a060bc167f3",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "Refresh flow vars",
        "props": [
            {
                "p": "ticker",
                "v": "TSLA",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "7d7f2bcd5913ba8b"
            ]
        ]
    },
    {
        "id": "7d7f2bcd5913ba8b",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ticker",
                "pt": "flow",
                "to": "ticker",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "c94d19313256612e",
        "type": "comment",
        "z": "f0045e6d83721444",
        "name": "Flow 3: Trading flows",
        "info": "",
        "x": 180,
        "y": 720,
        "wires": []
    },
    {
        "id": "43f8cd4855dd780c",
        "type": "alpaca-position-query",
        "z": "f0045e6d83721444",
        "conf": "b49e5bbcac9570a7",
        "x": 590,
        "y": 900,
        "wires": [
            [
                "d3492f5a0c7defe8"
            ]
        ]
    },
    {
        "id": "41d46ce5bc3ed392",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "Buy side",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "*/1 10-15 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "f7f438b0691e2fa7",
                "33a61486ebcfc40b"
            ]
        ]
    },
    {
        "id": "b9f2bb85a0ef1134",
        "type": "comment",
        "z": "f0045e6d83721444",
        "name": "Buy only if QQQ = 0",
        "info": "",
        "x": 170,
        "y": 860,
        "wires": []
    },
    {
        "id": "6d32fe0af22bbf74",
        "type": "alpaca-position-query",
        "z": "f0045e6d83721444",
        "conf": "b49e5bbcac9570a7",
        "x": 770,
        "y": 1100,
        "wires": [
            [
                "3b2e28047f7a5925"
            ]
        ]
    },
    {
        "id": "1e45f6f71fb7af7f",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "create msg.vars for QQQ",
        "func": "let ticker = flow.get(\"ticker\")\n\nif (msg.payload[\"symbol\"] == ticker ){\n    \n//let id = msg.payload[\"id\"]\nlet asset_id = msg.payload[\"asset_id\"]\n//let portfolioname = msg.payload[\"portfolioname\"]\nlet symbol = msg.payload[\"symbol\"]\n//let name = msg.payload[\"name\"]\n//let account = msg.payload[\"account\"]\nlet exchange = msg.payload[\"exchange\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet asset_marginable = msg.payload[\"asset_marginable\"]\nlet qty = msg.payload[\"qty\"]\nlet avg_entry_price = msg.payload[\"avg_entry_price\"]\nlet side = msg.payload[\"side\"]\nlet market_value = msg.payload[\"market_value\"]\nlet cost_basis = msg.payload[\"cost_basis\"]\nlet unrealized_pl = msg.payload[\"unrealized_pl\"]\nlet unrealized_plpc = msg.payload[\"unrealized_plpc\"]\nlet unrealized_intraday_pl = msg.payload[\"unrealized_intraday_pl\"]\nlet unrealized_intraday_plpc = msg.payload[\"unrealized_intraday_plpc\"]\nlet current_price = msg.payload[\"current_price\"]\nlet lastday_price = msg.payload[\"lastday_price\"]\nlet change_today = msg.payload[\"change_today\"]\nlet qty_available = msg.payload[\"qty_available\"]\n//let status = msg.payload[\"status\"]\n//let orderid = msg.payload[\"orderid\"]\n\n//node.warn(qty)\nmsg.qty = qty\nmsg.profit = unrealized_pl\nmsg.ticker = symbol\nmsg.price = current_price\nnode.warn(\"Ticker: \" + msg.ticker + \" Price: \" + msg.price + \" Profit: \" + msg.profit + \" Buy Qty: \" + msg.qty)\nreturn msg;\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1100,
        "wires": [
            [
                "211b56bf2a1c99ca"
            ]
        ]
    },
    {
        "id": "3b2e28047f7a5925",
        "type": "split",
        "z": "f0045e6d83721444",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 1100,
        "wires": [
            [
                "1e45f6f71fb7af7f"
            ]
        ]
    },
    {
        "id": "117673b7a8a8844d",
        "type": "alpaca-order",
        "z": "f0045e6d83721444",
        "conf": "b49e5bbcac9570a7",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "502d22981d05a7ec"
            ]
        ]
    },
    {
        "id": "c483b215caf375f2",
        "type": "postgresql",
        "z": "f0045e6d83721444",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 920,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "502d22981d05a7ec",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "insert into order_confirms table",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nsubtag = flow.get(\"algo_name\")\n\nlet result = symbol.includes(\"/\");\nif (result == true) {\n    symbol = symbol.replace(\"/\",\"\")\n}\n\nlet sql = \"insert into order_confirms(id, client_order_id, created_at, updated_at, submitted_at, asset_id, symbol, asset_class, qty, order_type, type, side, time_in_force, status, subtag, source,extended_hours) values \"\nsql += \"('\" + id + \"', '\" + client_order_id + \"', '\" + created_at + \"', '\" + updated_at + \"', '\" + submitted_at + \"', '\" + asset_id + \"', '\" + symbol + \"', '\" + asset_class + \"', '\" + qty + \"', '\" + order_type + \"', '\" + type + \"', '\" + side + \"', '\" + time_in_force + \"', '\" + status + \"', '\" + subtag + \"', '\" + source + \"', '\" + extended_hours+ \"'); \" \n\nmsg.query = sql\nnode.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1160,
        "wires": [
            [
                "c483b215caf375f2"
            ]
        ]
    },
    {
        "id": "d481ce0f38908440",
        "type": "alpaca-orders-close",
        "z": "f0045e6d83721444",
        "conf": "b49e5bbcac9570a7",
        "name": "",
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "6d32fe0af22bbf74"
            ]
        ]
    },
    {
        "id": "211b56bf2a1c99ca",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "create Alpaca sell order ",
        "func": "let ticker = msg.ticker\nlet qty = msg.qty\nlet profit = msg.profit\nlet price = msg.price\nnode.warn(\"Ticker: \" + ticker + \" Price: \" + price + \" Profit: \" + profit + \" Buy Qty: \" + qty)\n\n//let ticker = flow.get(\"alpaca_ticker\")\n\nif ( (profit > 1) ) {\n\nconst ld = new Date();\nlet localtime = ld.toLocaleString();\n\n// create a unique clientid with unixtime\nlet d = Date.now()\nlet client_order_id = ticker + d\nmsg.clientorderid = client_order_id // passes this variable in the flow \n\n\nlet type = 'market'\nlet temp = ''\nlet side = 'sell'\n\nif (qty < 0){ \n        qty = (qty * -1)\n        side = 'buy'}\n\n\nif ( (type == \"market\") ){\n\n\n        temp = {\n            \"symbol\": ticker,\n            \"qty\": qty,\n            \"side\": side,\n            \"type\": type,\n            \"client_order_id\": client_order_id,\n            //   \"limit_price\": price,\n            //    \"subtag\": subtag,\n            \"time_in_force\": \"gtc\"\n        };\n\n        node.warn(temp)\n        msg.payload = temp\n    }\n\n\n} // end of condition\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "117673b7a8a8844d"
            ]
        ]
    },
    {
        "id": "8b71144a53d3a1ce",
        "type": "comment",
        "z": "f0045e6d83721444",
        "name": "serll only if position > 0 and profit > 1",
        "info": "",
        "x": 230,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d3492f5a0c7defe8",
        "type": "split",
        "z": "f0045e6d83721444",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 900,
        "wires": [
            [
                "0b63c1dea39a799a"
            ]
        ]
    },
    {
        "id": "0b63c1dea39a799a",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "create msg.vars for QQQ",
        "func": "let ticker = flow.get(\"ticker\")\n\nif (msg.payload[\"symbol\"] == ticker ){\n    \n//let id = msg.payload[\"id\"]\nlet asset_id = msg.payload[\"asset_id\"]\n//let portfolioname = msg.payload[\"portfolioname\"]\nlet symbol = msg.payload[\"symbol\"]\n//let name = msg.payload[\"name\"]\n//let account = msg.payload[\"account\"]\nlet exchange = msg.payload[\"exchange\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet asset_marginable = msg.payload[\"asset_marginable\"]\nlet qty = msg.payload[\"qty\"]\nlet avg_entry_price = msg.payload[\"avg_entry_price\"]\nlet side = msg.payload[\"side\"]\nlet market_value = msg.payload[\"market_value\"]\nlet cost_basis = msg.payload[\"cost_basis\"]\nlet unrealized_pl = msg.payload[\"unrealized_pl\"]\nlet unrealized_plpc = msg.payload[\"unrealized_plpc\"]\nlet unrealized_intraday_pl = msg.payload[\"unrealized_intraday_pl\"]\nlet unrealized_intraday_plpc = msg.payload[\"unrealized_intraday_plpc\"]\nlet current_price = msg.payload[\"current_price\"]\nlet lastday_price = msg.payload[\"lastday_price\"]\nlet change_today = msg.payload[\"change_today\"]\nlet qty_available = msg.payload[\"qty_available\"]\n//let status = msg.payload[\"status\"]\n//let orderid = msg.payload[\"orderid\"]\n\n//node.warn(qty)\nmsg.qty = qty\nmsg.profit = unrealized_pl\nmsg.ticker = symbol\nmsg.price = current_price\nnode.warn(\"Ticker: \" + msg.ticker + \" Price: \" + msg.price + \" Profit: \" + msg.profit + \" Buy Qty: \" + msg.qty)\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 900,
        "wires": [
            [
                "53f14b7574dcbd3a"
            ]
        ]
    },
    {
        "id": "53f14b7574dcbd3a",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qty",
                "pt": "flow",
                "to": "qty",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "f7f438b0691e2fa7",
        "type": "change",
        "z": "f0045e6d83721444",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "qty",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 900,
        "wires": [
            [
                "43f8cd4855dd780c"
            ]
        ]
    },
    {
        "id": "33a61486ebcfc40b",
        "type": "delay",
        "z": "f0045e6d83721444",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 960,
        "wires": [
            [
                "b5e53349603ff00a"
            ]
        ]
    },
    {
        "id": "4892dfbad71555a5",
        "type": "alpaca-position-query",
        "z": "f0045e6d83721444",
        "conf": "b49e5bbcac9570a7",
        "x": 810,
        "y": 780,
        "wires": [
            [
                "52870740b174abb1"
            ]
        ]
    },
    {
        "id": "6d912cde8641bdff",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 780,
        "wires": [
            [
                "4892dfbad71555a5"
            ]
        ]
    },
    {
        "id": "52870740b174abb1",
        "type": "debug",
        "z": "f0045e6d83721444",
        "name": "debug 337",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 780,
        "wires": []
    },
    {
        "id": "99f6fcec74d1453c",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "create Alpaca order",
        "func": "let ticker = flow.get(\"ticker\")\nlet price = flow.get(\"price\") // current price from top flow\nlet diff = flow.get(\"diff\")\nlet qty = flow.get(\"qty\")\nlet psize = flow.get(\"psize\")\n\n//let ticker = flow.get(\"alpaca_ticker\")\nprice = +price\nprice = price.toFixed(2)\n\n// calculate number of shares to buy (qty) based on portfolio size\nqty = (psize / price)\n\nqty = +qty\nqty = qty.toFixed(1)\n\ndiff = +diff\n\nconst ld = new Date();\nlet localtime = ld.toLocaleString();\n\n// create a unique clientid with unixtime\nlet d = Date.now()\nlet client_order_id = ticker + d\nmsg.clientorderid = client_order_id // passes this variable in the flow \n\nnode.warn(\"Ticker: \" +ticker+ \" Diff: \" +diff+ \" Price: \" +price+ \" Buy Qty: \" +qty+ \" Portfolio Size: \" +psize)\n\nlet temp = ''\nlet type = 'market'\n//let type = 'limit'\n\n// std dev of one second price changes for TSLA is 13.9\n\nif (diff < -0.13) {\n    \n    temp = {\n        \"symbol\": ticker,\n        \"qty\": qty,\n        \"side\": 'buy',\n        \"type\": type,\n        \"client_order_id\": client_order_id,\n //       \"limit_price\": price,\n        //    \"subtag\": subtag,\n        \"time_in_force\": \"gtc\"\n    };\n\n    node.warn(temp)\n    msg.payload = temp\n    return msg;\n\n}\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 960,
        "wires": [
            [
                "8ca85f88ae225eac"
            ]
        ]
    },
    {
        "id": "b5e53349603ff00a",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "proceeed if flow.qqq.qty = 0",
        "func": "let qty = flow.get(\"qty\")\nnode.warn(qty)\n\nif (qty == 0){\n    //node.warn(\"proceed to the next node\")\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 960,
        "wires": [
            [
                "99f6fcec74d1453c"
            ]
        ]
    },
    {
        "id": "8ca85f88ae225eac",
        "type": "alpaca-order",
        "z": "f0045e6d83721444",
        "conf": "b49e5bbcac9570a7",
        "x": 830,
        "y": 960,
        "wires": [
            [
                "0e7fbe0f6238f505"
            ]
        ]
    },
    {
        "id": "a279ce12bfab49d2",
        "type": "postgresql",
        "z": "f0045e6d83721444",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1260,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "0e7fbe0f6238f505",
        "type": "function",
        "z": "f0045e6d83721444",
        "name": "insert into order_confirms table",
        "func": "let id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nlet filled_qty = msg.payload[\"filled_qty\"]\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\nlet limit_price = msg.payload[\"limit_price\"]\nlet stop_price = msg.payload[\"stop_price\"]\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\nlet trail_percent = msg.payload[\"trail_percent\"]\nlet trail_price = msg.payload[\"trail_price\"]\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\nsubtag = flow.get(\"algo_name\")\n\nlet result = symbol.includes(\"/\");\nif (result == true) {\n    symbol = symbol.replace(\"/\",\"\")\n}\n\nlet sql = \"insert into order_confirms(id, client_order_id, created_at, updated_at, submitted_at, asset_id, symbol, asset_class, qty, order_type, type, side, time_in_force, status, subtag, source,extended_hours) values \"\nsql += \"('\" + id + \"', '\" + client_order_id + \"', '\" + created_at + \"', '\" + updated_at + \"', '\" + submitted_at + \"', '\" + asset_id + \"', '\" + symbol + \"', '\" + asset_class + \"', '\" + qty + \"', '\" + order_type + \"', '\" + type + \"', '\" + side + \"', '\" + time_in_force + \"', '\" + status + \"', '\" + subtag + \"', '\" + source + \"', '\" + extended_hours+ \"'); \" \n\nmsg.query = sql\nnode.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 960,
        "wires": [
            [
                "a279ce12bfab49d2"
            ]
        ]
    },
    {
        "id": "b2abd047f926b4d3",
        "type": "inject",
        "z": "f0045e6d83721444",
        "name": "Sell Side",
        "props": [
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "*/1 10-15 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1100,
        "wires": [
            [
                "a5f490e557e27a28"
            ]
        ]
    },
    {
        "id": "a5f490e557e27a28",
        "type": "delay",
        "z": "f0045e6d83721444",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1100,
        "wires": [
            [
                "d481ce0f38908440"
            ]
        ]
    },
    {
        "id": "651f0aab10dc1632",
        "type": "polygon-account",
        "name": "Polygon Key"
    },
    {
        "id": "7455395cf269fb2b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "docker",
        "userFieldType": "str",
        "password": "docker",
        "passwordFieldType": "str"
    },
    {
        "id": "b49e5bbcac9570a7",
        "type": "alpaca-account",
        "name": "paper",
        "keyId": "PKWX5QWRNONF0LVMQKYR",
        "paper": true
    }
]