Trade QQQ Intraday.json
[
    {
        "id": "b6aed4f0d25d10b7",
        "type": "tab",
        "label": "Trade QQQ Intraday",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93fdc46e66d02a7d",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "The name of this strategy is \"Trade QQQ Mean Reversion\"",
        "info": "",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "6875288d657fc4ee",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "AT START -- Set values for portfoio and algos tables and launch strategy",
        "info": "",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "b856665f49138713",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "define values required creating new algo strategy",
        "func": "// portfolio_id is set to unixtime\n\nlet d = Date.now() // use to dynamically assign id\nlet id = d\nlet login = 'pta4'\nlet tickers = 'QQQ' \nlet name = \"Trade QQQ Mean Reversion\"\nlet asset_class = 'stocks' // stocks or crypto\nlet number = 1 // number of tickers in portfolio\nlet account = 'paper'\nlet psize = 50000 // size of portfolio\nlet status = 'running'\nlet algo_type = 'intraday'\nlet benchmark = 'SPY'\nlet algo_name = name\nlet trade_trigger = 0.20 // this is the absolute value of the difference between the current price and the moving average that will trigger a buy or sell\nlet profit_trigger = 0.005 // this is the value of the profit required to liquidate the position\n\nmsg.id = id\nmsg.login = login\nmsg.account = account\nmsg.tickers = tickers\nmsg.name = name\nmsg.asset_class = asset_class\nmsg.number = number\nmsg.psize = psize\nmsg.status = status\nmsg.algo_type = algo_type\nmsg.benchmark = benchmark\nmsg.algo_name = algo_name\nmsg.trade_trigger = trade_trigger\nmsg.profit_trigger = profit_trigger\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 400,
        "wires": [
            [
                "8cb8fbe71cdb357b",
                "2c97b936ef12d12e"
            ]
        ]
    },
    {
        "id": "f873fdb52d81d0bc",
        "type": "inject",
        "z": "b6aed4f0d25d10b7",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "b856665f49138713"
            ]
        ]
    },
    {
        "id": "8cb8fbe71cdb357b",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "store flow vars",
        "rules": [
            {
                "t": "set",
                "p": "algo_id",
                "pt": "flow",
                "to": "id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tickers",
                "pt": "flow",
                "to": "tickers",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "login",
                "pt": "flow",
                "to": "login",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "account",
                "pt": "flow",
                "to": "account",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "asset_class",
                "pt": "flow",
                "to": "asset_class",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "number",
                "pt": "flow",
                "to": "number",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "psize",
                "pt": "flow",
                "to": "psize",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "status",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_type",
                "pt": "flow",
                "to": "algo_type",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "benchmark",
                "pt": "flow",
                "to": "benchmark",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "algo_name",
                "pt": "flow",
                "to": "algo_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "trade_trigger",
                "pt": "flow",
                "to": "trade_trigger",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "profit_trigger",
                "pt": "flow",
                "to": "profit_trigger",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3d3967e16c11ee30",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "Query Alpaca 'positions'  and 'orders_open' tables and store results. These will be used in the Trading Logic Flow (line 23) to prevent \"overbuying.\" ",
        "info": "",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "b93e974b62692da2",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "Flow 2: Make trades based on delta between moving avg and current price. Do not buy if currently holding postion.",
        "info": "",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "aab05d209cec9124",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": " last trade",
        "func": "let price = 0\nlet item = 0\n\n\nfor (item of msg.payload.results) {\n    price = item.price;\n    \n}\n\nprice = price.toFixed(2)\nmsg.price = price\n//node.warn(price)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 880,
        "wires": [
            [
                "c9a0a5500b2007d3"
            ]
        ]
    },
    {
        "id": "a68d5316ae954050",
        "type": "polygon-last-trade-v3",
        "z": "b6aed4f0d25d10b7",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 600,
        "y": 880,
        "wires": [
            [
                "aab05d209cec9124"
            ]
        ]
    },
    {
        "id": "6819718c709d9cc6",
        "type": "inject",
        "z": "b6aed4f0d25d10b7",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "832028e52230e63b",
                "171a14622ca34440",
                "6aa48bd5f318738a"
            ]
        ]
    },
    {
        "id": "64a387b95f839034",
        "type": "function-npm",
        "z": "b6aed4f0d25d10b7",
        "name": "Get price of trade trade",
        "func": "let asset_class = flow.get(\"asset_class\")\nnode.warn(asset_class)\n\nlet polygon_symbol = flow.get(\"tickers\")\n\n\nif (asset_class == 'crypto'){\n    polygon_symbol = polygon_symbol.replace(\"/\",\"\")\n    polygon_symbol = \"X:\" +polygon_symbol\n}\n\nlet cnt = 1 // gets last trade\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: polygon_symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\nnode.warn(msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "a68d5316ae954050"
            ]
        ]
    },
    {
        "id": "832028e52230e63b",
        "type": "alpaca-position-query",
        "z": "b6aed4f0d25d10b7",
        "conf": "e535f42f1df1b25f",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "29dd18362077dc48"
            ]
        ]
    },
    {
        "id": "7ba63f6fdb9d335b",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "select fields",
        "func": "let ticker = flow.get(\"tickers\")\n\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet exchange = msg.payload[\"exchange\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet asset_marginable = msg.payload[\"asset_marginable\"]\nlet qty = msg.payload[\"qty\"]\nlet avg_entry_price = msg.payload[\"avg_entry_price\"]\nlet side = msg.payload[\"side\"]\nlet market_value = msg.payload[\"market_value\"]\nlet cost_basis = msg.payload[\"cost_basis\"]\nlet unrealized_pl = msg.payload[\"unrealized_pl\"]\nlet unrealized_plpc = msg.payload[\"unrealized_plpc\"]\nlet unrealized_intraday_pl = msg.payload[\"unrealized_intraday_pl\"]\nlet unrealized_intraday_plpc = msg.payload[\"unrealized_intraday_plpc\"]\nlet current_price = msg.payload[\"current_price\"]\nlet lastday_price = msg.payload[\"lastday_price\"]\nlet change_today = msg.payload[\"change_today\"]\nlet qty_available = msg.payload[\"qty_available\"]\n\n// Alpaca omits the forward slash from its crypto symbols in the orders tables.  \nif (asset_class == 'crypto'){\n    symbol = symbol.replace(\"USD\",\"/USD\")\n}\n\n// store the qty for the ticker being traded \nif (symbol == ticker) {\n    node.warn(\"store qty in flow.open_pos. open_pos = \" + qty + \" Current Profit: \" + unrealized_pl + \" Current Profit PCT: \" + unrealized_plpc)\n    msg.open_pos = qty\n    msg.profit = unrealized_pl\n    msg.profitpct = unrealized_plpc\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 740,
        "wires": [
            [
                "ad08866aaa218322"
            ]
        ]
    },
    {
        "id": "29dd18362077dc48",
        "type": "split",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 740,
        "wires": [
            [
                "7ba63f6fdb9d335b"
            ]
        ]
    },
    {
        "id": "ad08866aaa218322",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "store flow.open_pos",
        "rules": [
            {
                "t": "set",
                "p": "open_pos",
                "pt": "flow",
                "to": "open_pos",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "profit",
                "pt": "flow",
                "to": "profit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "profitpct",
                "pt": "flow",
                "to": "profitpct",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d9d1dbce53d0f653",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "display trading vars ",
        "func": "let d = Date.now()\nlet id = d\n\nlet algo_id = flow.get(\"algo_id\")\nlet login = flow.get(\"login\")\nlet account = flow.get(\"account\")\nlet tickers = flow.get(\"tickers\")\nlet name = flow.get(\"name\")\nlet asset_class = flow.get(\"asset_class\")\nlet number = flow.get(\"number\")\nlet psize = flow.get(\"psize\")\nlet status = flow.get(\"status\")\nlet algo_type = flow.get(\"algo_type\")\nlet benchmark = flow.get(\"benchmark\")\nlet algo_name = flow.get(\"algo_name\")\nlet trigger = flow.get(\"trade_trigger\")\nlet profit_trigger = flow.get(\"profit_trigger\")\nlet profit = flow.get(\"profit\")\nlet profitpct = flow.get(\"profitpct\")\nlet clientorderid = flow.get(\"clientorderid\")\nprofit = parseFloat(profit).toFixed(2);\nprofitpct = parseFloat(profitpct).toFixed(2);\n\nlet price = msg.price\n\nlet diff_ticker = flow.get(\"diff_ticker\")\n\nlet open_pos = 0\nopen_pos = flow.get(\"open_pos\")\nif (open_pos == undefined) { open_pos = 0 }\n\n\nlet open_qty = 0\nopen_qty = flow.get(\"open_qty\")\nif (open_qty == undefined) { open_qty = 0 }\n\nlet diff = global.get(diff_ticker)\n\n// use this to balance the portfolio equally\nlet qty = (psize / number) / price\nqty = Math.round(qty) // to get whole numbers \n\nlet order_value = price * qty\n\nlet localtime = new Date();\n\n// create a unique clientid with unixtime\nlet client_order_id = tickers + d\n\n//node.warn(\"id: \" + id + \"  login: \" + login + \"  account: \" + account + \"  tickers: \" + tickers + \"  asset_class: \" + asset_class + \"  number: \" + number + \"  psize: \" + psize + \"  status: \" + status + \"  algo_type: \" + algo_type + \"  benchmark: \" + benchmark + \"  algo_name: \" + algo_name + \"  trigger: \" + trigger + \"  profit_trigger: \" + profit_trigger + \" open_pos\" + open_pos + \" profit: \" + profit + \" profitpct: \" + profitpct + \" Client Order ID: \" + clientorderid)\n\n\n\nmsg.login = login\nmsg.algo_name = name\nmsg.asset_class = asset_class\nmsg.account = account\nmsg.id = d  // create new portfolio id each cycle\nmsg.clientorderid = client_order_id\nmsg.localtime = localtime\n\nmsg.ticker = tickers\nmsg.qty = qty\nmsg.price = price\nmsg.diff = diff\nmsg.open_qty = open_qty\nmsg.open_pos = open_pos\nmsg.order_value = (qty * price)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 880,
        "wires": [
            [
                "c225419acf8a4764"
            ]
        ]
    },
    {
        "id": "c9a0a5500b2007d3",
        "type": "delay",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 880,
        "wires": [
            [
                "d9d1dbce53d0f653"
            ]
        ]
    },
    {
        "id": "171a14622ca34440",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "get closed orders",
        "func": "/* Get Flow variables */\n\nlet ordertype = flow.get(\"orders\")\n//let limit  = flow.get(\"cnt\")\nordertype = \"open\"\n\n/* Setup alpaca request arguments */\n\nmsg.payload = {\n    status: ordertype, // \"open or closed\"\n    limit: \"10\", // default is 500\n\tdirection: \"desc\" //  \"asc or desc\"\n\n}\n\n//node.warn(msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 700,
        "wires": [
            [
                "8ed2eadc643f6614"
            ]
        ]
    },
    {
        "id": "8ed2eadc643f6614",
        "type": "alpaca-query-order",
        "z": "b6aed4f0d25d10b7",
        "conf": "e535f42f1df1b25f",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "9ebc46fe20757ac4"
            ]
        ]
    },
    {
        "id": "9ebc46fe20757ac4",
        "type": "split",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 700,
        "wires": [
            [
                "4f323351c77cefe1"
            ]
        ]
    },
    {
        "id": "4f323351c77cefe1",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "select fields",
        "func": "let ticker = flow.get(\"tickers\")\n//node.warn(\"Ticker: \" +ticker)\n\nlet id = msg.payload[\"id\"]\nlet client_order_id = msg.payload[\"client_order_id\"]\nlet created_at = msg.payload[\"created_at\"]\nlet updated_at = msg.payload[\"updated_at\"]\nlet submitted_at = msg.payload[\"submitted_at\"]\nlet filled_at = msg.payload[\"filled_at\"]\nlet expired_at = msg.payload[\"expired_at\"]\nlet canceled_at = msg.payload[\"canceled_at\"]\nlet failed_at = msg.payload[\"failed_at\"]\nlet replaced_at = msg.payload[\"replaced_at\"]\nlet replaced_by = msg.payload[\"replaced_by\"]\nlet replaces = msg.payload[\"replaces\"]\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet notional = msg.payload[\"notional\"]\nlet qty = msg.payload[\"qty\"]\nif (qty === null) { qty = 0 }\n\n\nlet filled_qty = msg.payload[\"filled_qty\"]\nif (filled_qty === null) { filled_qty = 0 }\n\nlet filled_avg_price = msg.payload[\"filled_avg_price\"]\nif (filled_avg_price === null) { filled_avg_price = 0 }\n\n\nlet order_class = msg.payload[\"order_class\"]\nlet order_type = msg.payload[\"order_type\"]\nlet type = msg.payload[\"type\"]\nlet side = msg.payload[\"side\"]\nlet time_in_force = msg.payload[\"time_in_force\"]\n\nlet limit_price = msg.payload[\"limit_price\"]\nif (limit_price === null) { limit_price = 0 }\n\nlet stop_price = msg.payload[\"stop_price\"]\nif (stop_price === null ){ stop_price = 0}\n\nlet status = msg.payload[\"status\"]\nlet extended_hours = msg.payload[\"extended_hours\"]\nlet legs = msg.payload[\"legs\"]\n\nlet trail_percent = msg.payload[\"trail_percent\"]\nif (trail_percent === null) { trail_percent = 0 }\n\nlet trail_price = msg.payload[\"trail_price\"]\nif (trail_price === null) { trail_price = 0 }\n\nlet hwm = msg.payload[\"hwm\"]\nlet subtag = msg.payload[\"subtag\"]\nlet source = msg.payload[\"source\"]\n\n// store the qty for the ticker being traded \nif (symbol == ticker ){\n    node.warn(\"store qty in flow.open_qty. open_qty = \" +qty)\n    msg.open_qty = qty\n    return msg;\n }\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 700,
        "wires": [
            [
                "19b0190366441eab"
            ]
        ]
    },
    {
        "id": "19b0190366441eab",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "store flow.open_qty",
        "rules": [
            {
                "t": "set",
                "p": "open_qty",
                "pt": "flow",
                "to": "open_qty",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c225419acf8a4764",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "Trading Logic - buy only",
        "func": "let ticker = msg.ticker\nlet qty = msg.qty\nlet price = msg.price\nlet diff = flow.get(\"diff_ticker\")\nlet open_qty = msg.open_qty\nlet open_pos = msg.open_pos\n\nlet login = msg.login\nlet portfolioname = msg.algo_name\nlet asset_class = msg.asset_class\nlet account = msg.account\nlet id = msg.id\nlet client_order_id = msg.clientorderid\nlet localtime = msg.localtime\n\nlet order_value = msg.order_value\nlet order_type = 'market'\nlet trade_trigger = flow.get(\"trade_trigger\")\n\n\n// buy signal\nif ((diff < trade_trigger ) && (open_qty == 0) && (open_pos == 0) ) {\n\n\n\n    let side = 'buy'\n\n    // create a order for Alpaca\n    let temp = ''\n    temp = {\n        \"symbol\": ticker,\n        \"qty\": qty,\n        \"side\": side,\n        \"type\": order_type,\n //       \"limit_price\": price,\n        \"client_order_id\": client_order_id,\n        \"time_in_force\": \"gtc\"\n    };\n\n    msg.payload = temp\n    node.warn(msg.payload)\n    msg.symbol = ticker\n    msg.order_qty = qty\n\n    //node.warn(\"These are the trading values. Ticker: \" + ticker + \" Qty:\" + qty + \" Price: \" + price + \" Diff: \" + diff + \" Open Qty: \" + open_qty + \" Open Pos: \" + open_pos)\n    msg.query = \"insert into portfolio (account,id,login,symbol,asset_class,portfolioname,order_time,order_qty,order_price,order_type,order_value,clientorderid) values ('\"\n        + account + \"', '\" + id + \"','\" + login + \"','\" + ticker + \"','\" + asset_class + \"','\" + portfolioname + \"','\" + localtime + \"','\" + qty + \"','\" + price + \"','\" + order_type + \"','\" + order_value + \"','\" + client_order_id + \"');\"\n    node.warn(msg.query)\n\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 980,
        "wires": [
            [
                "6b9681a1c5e317af",
                "edbf901389b9943c",
                "a65c8a080b1a4ce3"
            ]
        ]
    },
    {
        "id": "6aa48bd5f318738a",
        "type": "delay",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 880,
        "wires": [
            [
                "64a387b95f839034"
            ]
        ]
    },
    {
        "id": "1dc097d2420e34e9",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "Retrieve values from algos table for use in the Trading Logic Flow. Current Price field is stored using \"Last Trade v3\" from Polygon",
        "info": "",
        "x": 670,
        "y": 820,
        "wires": []
    },
    {
        "id": "82f64ccab881d855",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "display flow vars",
        "func": "let id = flow.get(\"algo_id\")\nlet login = flow.get(\"login\")\nlet account = flow.get(\"account\")\nlet tickers = flow.get(\"tickers\")\nlet name = flow.get(\"name\")\nlet asset_class = flow.get(\"asset_class\")\nlet number = flow.get(\"number\")\nlet psize = flow.get(\"psize\")\nlet status = flow.get(\"status\")\nlet algo_type = flow.get(\"algo_type\")\nlet benchmark = flow.get(\"benchmark\")\nlet algo_name = flow.get(\"algo_name\")\nlet trigger = flow.get(\"trade_trigger\")\nlet profit_trigger = flow.get(\"profit_trigger\")\nlet open_pos = flow.get(\"open_pos\")\nlet profit = flow.get(\"profit\")\nlet profitpct = flow.get(\"profitpct\")\nlet clientorderid = flow.get(\"clientorderid\")\nlet diff = flow.get(\"diff\")\nprofit = parseFloat(profit).toFixed(2);\nprofitpct = parseFloat(profitpct).toFixed(2);\n\n\nnode.warn(\"id: \" + id + \"  login: \" + login + \"  account: \" + account + \"  tickers: \" + tickers + \"  name: \" + name + \"  asset_class: \" + asset_class + \"  number: \" + number + \"  psize: \" + psize + \"  status: \" + status + \"  algo_type: \" + algo_type + \"  benchmark: \" + benchmark + \"  algo_name: \" + algo_name + \"  trigger: \" + trigger + \"  profit_trigger: \" + profit_trigger + \" open_pos: \" + open_pos + \" profit: \" + profit + \" profitpct: \" + profitpct + \" Client Order ID: \" + clientorderid+ \" Diff: \" +diff)\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "285bb9b3407076c3",
        "type": "inject",
        "z": "b6aed4f0d25d10b7",
        "name": "GO",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "82f64ccab881d855"
            ]
        ]
    },
    {
        "id": "b8aebecdb84db7b2",
        "type": "inject",
        "z": "b6aed4f0d25d10b7",
        "name": "Set flow vars to 0",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "df5cd893d896750f"
            ]
        ]
    },
    {
        "id": "df5cd893d896750f",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "open_pos",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "open_qty",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "534986cb6e5e52da",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "Flow #3:  Place Sell Orders when profit target reached",
        "info": "",
        "x": 240,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9c11acf9642fc259",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "place market sell order",
        "func": "let id = flow.get(\"algo_id\")\nlet ticker = flow.get(\"ticker\")\nlet qty = flow.get(\"open_pos\")\nlet price = flow.get(\"price\")\nlet profit = flow.get(\"profit\")\nlet profitpct = flow.get(\"profitpct\")\nlet profit_trigger = flow.get(\"profit_trigger\")\n\nlet clientid = flow.get(\"clientorderid\")\n\nlet side = ''\n\n//node.warn(\"Profit: \" +profit)\n\n\nif (profitpct > profit_trigger){\n\n    let d = Date.now()\n    let newclient_order_id = \"SELL\" + ticker + d\n    msg.newclientid = newclient_order_id\n    \n    msg.query = \"update portfolio set newclient_order_id = '\" + newclient_order_id + \"' where clientorderid '\" + clientid + \"';\" \nnode.warn(msg.query)\n\nif (qty < 0){\n    qty = (qty * -1)\n    side = 'buy' }\n\nelse {\n    side = 'sell' }\n\nlet temp = ''\ntemp = {\n    \"symbol\": ticker,\n    \"qty\": qty,\n    \"side\": side,\n    \"type\": \"market\",\n //   \"limit_price\": price,\n    \"client_order_id\": newclient_order_id,\n    \"time_in_force\": \"gtc\"\n}\n\n\nmsg.payload = temp\nnode.warn(msg.payload)\nreturn msg\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1200,
        "wires": [
            [
                "37227421c5c839fc",
                "e1f562c4dbe2eb92",
                "16659e1ab4e9fb12"
            ]
        ]
    },
    {
        "id": "4baeb49d76ba9f57",
        "type": "inject",
        "z": "b6aed4f0d25d10b7",
        "name": "Every Min",
        "props": [],
        "repeat": "",
        "crontab": "*/1 4-19 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "f8cf448240ee1f99",
                "96fd17644fc78540"
            ]
        ]
    },
    {
        "id": "37227421c5c839fc",
        "type": "alpaca-order",
        "z": "b6aed4f0d25d10b7",
        "conf": "e535f42f1df1b25f",
        "x": 790,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "f8cf448240ee1f99",
        "type": "alpaca-position-query",
        "z": "b6aed4f0d25d10b7",
        "conf": "e535f42f1df1b25f",
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "c49367205c62965c"
            ]
        ]
    },
    {
        "id": "47d7d34c631b181a",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "select fields",
        "func": "let ticker = flow.get(\"tickers\")\n\nlet asset_id = msg.payload[\"asset_id\"]\nlet symbol = msg.payload[\"symbol\"]\nlet exchange = msg.payload[\"exchange\"]\nlet asset_class = msg.payload[\"asset_class\"]\nlet asset_marginable = msg.payload[\"asset_marginable\"]\nlet qty = msg.payload[\"qty\"]\nlet avg_entry_price = msg.payload[\"avg_entry_price\"]\nlet side = msg.payload[\"side\"]\nlet market_value = msg.payload[\"market_value\"]\nlet cost_basis = msg.payload[\"cost_basis\"]\nlet unrealized_pl = msg.payload[\"unrealized_pl\"]\nlet unrealized_plpc = msg.payload[\"unrealized_plpc\"]\nlet unrealized_intraday_pl = msg.payload[\"unrealized_intraday_pl\"]\nlet unrealized_intraday_plpc = msg.payload[\"unrealized_intraday_plpc\"]\nlet current_price = msg.payload[\"current_price\"]\nlet lastday_price = msg.payload[\"lastday_price\"]\nlet change_today = msg.payload[\"change_today\"]\nlet qty_available = msg.payload[\"qty_available\"]\n\nif (asset_class == 'crypto'){\n    symbol = symbol.replace(\"USD\",\"/USD\")\n}\n\nif (symbol == ticker) {\n    node.warn(\"Open_pos = \" + qty + \" Current Profit: \" + unrealized_pl + \" Profit PCT: \" + unrealized_plpc)\n    msg.open_pos = qty\n    msg.profit = unrealized_pl\n    msg.profitpct = unrealized_plpc\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1140,
        "wires": [
            [
                "d3b98838190cc7f9"
            ]
        ]
    },
    {
        "id": "c49367205c62965c",
        "type": "split",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 1140,
        "wires": [
            [
                "47d7d34c631b181a"
            ]
        ]
    },
    {
        "id": "d3b98838190cc7f9",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "store flow.open_pos",
        "rules": [
            {
                "t": "set",
                "p": "open_pos",
                "pt": "flow",
                "to": "open_pos",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "profit",
                "pt": "flow",
                "to": "profit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "profitpct",
                "pt": "flow",
                "to": "profitpct",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "96fd17644fc78540",
        "type": "delay",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 1200,
        "wires": [
            [
                "9c11acf9642fc259"
            ]
        ]
    },
    {
        "id": "e1f562c4dbe2eb92",
        "type": "postgresql",
        "z": "b6aed4f0d25d10b7",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 780,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "16659e1ab4e9fb12",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "newclientid",
                "pt": "flow",
                "to": "newclientid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "1094f308901d787b",
        "type": "inject",
        "z": "b6aed4f0d25d10b7",
        "name": "GO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e390fb82d37116d9"
            ]
        ]
    },
    {
        "id": "e390fb82d37116d9",
        "type": "function-npm",
        "z": "b6aed4f0d25d10b7",
        "name": "Get past \"n\" of trades",
        "func": "let symbol = 'QQQ'\n\nlet cnt = 1000 // set count here\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\n//node.warn(msg.payload)\nmsg.symbol = symbol\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "8c0b85204ca9c76a"
            ]
        ]
    },
    {
        "id": "8c0b85204ca9c76a",
        "type": "polygon-last-trade-v3",
        "z": "b6aed4f0d25d10b7",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "c02d32e5ad137944"
            ]
        ]
    },
    {
        "id": "c02d32e5ad137944",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "create array for average",
        "func": "const prices = [];\nlet item = ''\nlet price = 0\nlet ux = 0\n\nfor (item of msg.payload.results) {\n    price = item.price;\n    prices.push(price);  \n//    node.warn(price)\n\n}\n\n//node.warn(prices)\nmsg.payload = prices\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "d4402f18a4809445"
            ]
        ]
    },
    {
        "id": "c5fb57a8148408ef",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "display avg",
        "func": "let avg = msg.moving_avg\navg = avg.toFixed(2)\nlet symbol = msg.symbol\n//node.warn(\"Ticker: \" +symbol+ \" Moving Avg: \" +avg)\nmsg.moving_avg = avg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 200,
        "wires": [
            [
                "682c43def7127bad"
            ]
        ]
    },
    {
        "id": "682c43def7127bad",
        "type": "function-npm",
        "z": "b6aed4f0d25d10b7",
        "name": "Get last trade",
        "func": "let symbol = 'QQQ'\n\nlet cnt = 1\n\n/* Setup polygon request arguments */\nmsg.payload = {\n    symbol: symbol,\n    cnt: cnt,\n}\n\n\n//node.warn(symbol)\n//node.warn(msg.payload)\nmsg.symbol = symbol\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "c0857f251521af89"
            ]
        ]
    },
    {
        "id": "c0857f251521af89",
        "type": "polygon-last-trade-v3",
        "z": "b6aed4f0d25d10b7",
        "conf": "651f0aab10dc1632",
        "symbol": "",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "fc4f0c8d6db8fd76"
            ]
        ]
    },
    {
        "id": "fc4f0c8d6db8fd76",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "display diff",
        "func": "const prices = [];\nlet item = ''\nlet price = 0\nlet ux = 0\n\nfor (item of msg.payload.results) {\n    price = item.price; // this is the price of the last trade\n\n}\n\n\nlet avg = msg.moving_avg\nlet ticker = msg.symbol\n\nlet diff = price - avg\ndiff = diff.toFixed(2)\n\nnode.warn(\"Ticker: \" + ticker + \" Current Price: \" + price + \" Avg Price: \" + avg + \" Diff: \" + diff)\nmsg.diff = diff\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "2066aa826b0ef290"
            ]
        ]
    },
    {
        "id": "03525df7e027204e",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "This is set to run every minute",
        "info": "",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "2066aa826b0ef290",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "diff_ticker",
                "pt": "flow",
                "to": "diff",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d4402f18a4809445",
        "type": "calculator",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "moving_avg",
        "operation": "avg",
        "constant": "",
        "round": false,
        "decimals": "0",
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "c5fb57a8148408ef"
            ]
        ]
    },
    {
        "id": "49c7289d1a8b9481",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "Set symbol in line 1 and cnt in line 3 to modify the moving average look back",
        "info": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "cc0a4f53f2b8c340",
        "type": "comment",
        "z": "b6aed4f0d25d10b7",
        "name": "Calculate the moving average price and compare wiht current price to get 'diff' variables",
        "info": "",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c97b936ef12d12e",
        "type": "function",
        "z": "b6aed4f0d25d10b7",
        "name": "add values to algos table",
        "func": "let login = msg.login\nlet id = msg.id\nlet algo_name = msg.algo_name \nlet algo_type = msg.algo_type\nlet asset_class = msg.asset_class\nlet tickers = msg.tickers\nlet status = msg.status\nlet number = msg.number\nlet portfolio_size = msg.psize \nlet benchmark =  msg.benchmark\nlet benchmark_start = global.get(\"spy_current\")\n\nmsg.query = \"insert into algos (login,id,algo_name,algo_type,tickers,asset_class,number,status,portfolio_size,benchmark,benchmark_start) values ('\" + login + \"','\" + id + \"','\" + algo_name + \"','\" + algo_type + \"','\" + tickers + \"','\" + asset_class + \"','\" + number + \"','\" +status+ \"','\" +portfolio_size+ \"','\" +benchmark+ \"','\" +benchmark_start+ \"');\"\nnode.warn(msg.query)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 440,
        "wires": [
            [
                "be5ce6ed4c25f38b"
            ]
        ]
    },
    {
        "id": "be5ce6ed4c25f38b",
        "type": "postgresql",
        "z": "b6aed4f0d25d10b7",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 980,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "edbf901389b9943c",
        "type": "alpaca-order",
        "z": "b6aed4f0d25d10b7",
        "conf": "e535f42f1df1b25f",
        "x": 790,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6b9681a1c5e317af",
        "type": "postgresql",
        "z": "b6aed4f0d25d10b7",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 780,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a65c8a080b1a4ce3",
        "type": "change",
        "z": "b6aed4f0d25d10b7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clientorderid",
                "pt": "flow",
                "to": "clientorderid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "651f0aab10dc1632",
        "type": "polygon-account",
        "name": "Polygon Key"
    },
    {
        "id": "e535f42f1df1b25f",
        "type": "alpaca-account",
        "name": "paper",
        "keyId": "PKQFY449K0DJQN3QF3WE",
        "paper": true
    },
    {
        "id": "7455395cf269fb2b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "docker",
        "userFieldType": "str",
        "password": "docker",
        "passwordFieldType": "str"
    }
]