Update algo benchmarks.json
[
    {
        "id": "ea635e620c9a5ae5",
        "type": "comment",
        "z": "63f090195aae60d7",
        "name": "Update from algos table benchmarks",
        "info": "",
        "x": 190,
        "y": 2500,
        "wires": []
    },
    {
        "id": "c448489a8e9f7478",
        "type": "inject",
        "z": "63f090195aae60d7",
        "name": "Every min",
        "props": [
            {
                "p": "query",
                "v": "select * from algos",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 2560,
        "wires": [
            [
                "9e5577028161de39"
            ]
        ]
    },
    {
        "id": "6dad6695a66e4bf9",
        "type": "function",
        "z": "63f090195aae60d7",
        "name": "update algos table",
        "func": "let id = msg.payload[\"id\"]\nlet start = msg.payload[\"benchmark_start\"]\n\n\nlet current = global.get(\"spy_current\")\nlet close = global.get(\"spy_close\")\n\nlet pctbench_today = ((current - close) / close) * 100 \nlet pctbench_alltime = ((current - start) / start) * 100\n\nnode.warn(\"Close: \" + close + \" Current: \" + current+ \" Pctbench Today: \" +pctbench_today+ \" Pctbench Alltime: \" +pctbench_alltime)\n\nmsg.query = \"update algos set pctbench_today = \" + pctbench_today+ \", pctbench_alltime = \" +pctbench_alltime+ \" where id = \" +id+ \";\"\nnode.warn(msg.query)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2560,
        "wires": [
            [
                "75a6ceb88122c521"
            ]
        ]
    },
    {
        "id": "75a6ceb88122c521",
        "type": "postgresql",
        "z": "63f090195aae60d7",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 740,
        "y": 2560,
        "wires": [
            [
                "36f513505852bf76"
            ]
        ]
    },
    {
        "id": "36f513505852bf76",
        "type": "function",
        "z": "63f090195aae60d7",
        "name": "update info_ratio",
        "func": "msg.query = \"update algos set info_ratio = (pctgain_alltime - pctbench_alltime);\"\nnode.warn(msg.query)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 2560,
        "wires": [
            [
                "73941ee8a4647eea"
            ]
        ]
    },
    {
        "id": "73941ee8a4647eea",
        "type": "postgresql",
        "z": "63f090195aae60d7",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1100,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "9e5577028161de39",
        "type": "postgresql",
        "z": "63f090195aae60d7",
        "name": "postgres",
        "query": "",
        "postgreSQLConfig": "7455395cf269fb2b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 280,
        "y": 2560,
        "wires": [
            [
                "a71ed8538e06a93b"
            ]
        ]
    },
    {
        "id": "a71ed8538e06a93b",
        "type": "split",
        "z": "63f090195aae60d7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 410,
        "y": 2560,
        "wires": [
            [
                "6dad6695a66e4bf9"
            ]
        ]
    },
    {
        "id": "7455395cf269fb2b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "docker",
        "userFieldType": "str",
        "password": "docker",
        "passwordFieldType": "str"
    }
]