Utilities.json
[
    {
        "id": "cf68489fb020cc53",
        "type": "tab",
        "label": "Utilities",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3bce5c88a44e631",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Create Sub Portfolio table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "create table IF NOT EXISTS sub_portfolio (id INTEGER,ticker TEXT, qty REAL, price REAL, gain_today REAL, pctgain_today REAL,gain REAL,pctgain REAL)",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "5ee8c392f6a09abf"
            ]
        ]
    },
    {
        "id": "5ee8c392f6a09abf",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "86542ebbfc819b03",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Display Sub Portfolio table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from  sub_portfolio",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "8d0b12c13a89b023"
            ]
        ]
    },
    {
        "id": "8d0b12c13a89b023",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "369ccd053bcc2236"
            ]
        ]
    },
    {
        "id": "369ccd053bcc2236",
        "type": "debug",
        "z": "cf68489fb020cc53",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "abcc09032cc846dd",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Drop Sub Portfolio table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "drop table  sub_portfolio ",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "0c1bd061f9c38548"
            ]
        ]
    },
    {
        "id": "0c1bd061f9c38548",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "510c7a4b7882dcdb",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Create unique index on sub_portfolio",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE UNIQUE INDEX symbol ON sub_portfolio  (id,ticker);",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "a1d68ee69389829a"
            ]
        ]
    },
    {
        "id": "a1d68ee69389829a",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 480,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "aa720df499c22924",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Create orders table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE table IF NOT EXISTS orders (id TEXT TEXT,client_order_id TEXT,created_at TEXT,updated_at TEXT,submitted_at TEXT,filled_at TEXT,expired_at TEXT,canceled_at TEXT,failed_at TEXT,replaced_at TEXT,replaced_by TEXT,replaces TEXT,asset_id TEXT,symbol TEXT,asset_class TEXT,notional TEXT,qty REAL,filled_qty REAL,filled_avg_price REAL,order_class TEXT,order_type TEXT,type TEXT,side TEXT,time_in_force TEXT,limit_price REAL,stop_price REAL,status TEXT,extended_hours TEXT,legs TEXT,trail_percent REAL,trail_price REAL,hwm TEXT,subtag TEXT,source TEXT);",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "42fb10665e5489f7"
            ]
        ]
    },
    {
        "id": "42fb10665e5489f7",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "3da37290d92c1dc8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "orders",
        "x": 370,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a86429cd49372d3e",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Display Tickers for id = 1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select *  from  sub_portfolio where id = 1",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "2f17260d85250675"
            ]
        ]
    },
    {
        "id": "2f17260d85250675",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "9389578d8fde1e74"
            ]
        ]
    },
    {
        "id": "9389578d8fde1e74",
        "type": "function",
        "z": "cf68489fb020cc53",
        "name": "output",
        "func": "let temp = ''\n\nfor (let i = 0; i < msg.payload.length; i++) {\n\n    let ticker = msg.payload[i][\"ticker\"]\n //   node.warn(ticker)\n    temp += ticker+ \"\\n\" \n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "1045f6287076b942"
            ]
        ]
    },
    {
        "id": "1045f6287076b942",
        "type": "split",
        "z": "cf68489fb020cc53",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "24d5ea0f17438bfb"
            ]
        ]
    },
    {
        "id": "24d5ea0f17438bfb",
        "type": "function",
        "z": "cf68489fb020cc53",
        "name": "disply payload",
        "func": "node.warn(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "071bcf1c1bfb8b40",
        "type": "inject",
        "z": "cf68489fb020cc53",
        "name": "Display Tickers for id = 2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select *  from  sub_portfolio where id = 2",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "9cc7871906d3fb6c"
            ]
        ]
    },
    {
        "id": "9cc7871906d3fb6c",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "910ccf1c0a9f1caa"
            ]
        ]
    },
    {
        "id": "910ccf1c0a9f1caa",
        "type": "function",
        "z": "cf68489fb020cc53",
        "name": "output",
        "func": "let temp = ''\n\nfor (let i = 0; i < msg.payload.length; i++) {\n\n    let ticker = msg.payload[i][\"ticker\"]\n //   node.warn(ticker)\n    temp += ticker+ \"\\n\" \n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "33455458cc3472ac"
            ]
        ]
    },
    {
        "id": "33455458cc3472ac",
        "type": "split",
        "z": "cf68489fb020cc53",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "38956fe5dc8fdade"
            ]
        ]
    },
    {
        "id": "38956fe5dc8fdade",
        "type": "function",
        "z": "cf68489fb020cc53",
        "name": "disply payload",
        "func": "node.warn(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "33105f05c51f0787",
        "type": "comment",
        "z": "cf68489fb020cc53",
        "name": "Sub Portfolio Tables",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "70a7375c5d6cb0b6",
        "type": "comment",
        "z": "cf68489fb020cc53",
        "name": "Orders Table",
        "info": "",
        "x": 130,
        "y": 420,
        "wires": []
    },
    {
        "id": "8384b3b70b53519b",
        "type": "comment",
        "z": "cf68489fb020cc53",
        "name": "export and save to a local csv file",
        "info": "",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "3031fdf1a30a3d42",
        "type": "http in",
        "z": "cf68489fb020cc53",
        "name": "/api/download_subportfolio",
        "url": "/api/download_subportfolio",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "df5725abe19db22a"
            ]
        ]
    },
    {
        "id": "7d8f5fb8caf20621",
        "type": "http response",
        "z": "cf68489fb020cc53",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json",
            "Content-Disposition": "attachment; filename=\"outfile.json\""
        },
        "x": 1030,
        "y": 700,
        "wires": []
    },
    {
        "id": "150084cf4c418618",
        "type": "csv",
        "z": "cf68489fb020cc53",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "id,ticker, qty, price, gain_today,pctgain_today,gain,pctgain",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 710,
        "y": 700,
        "wires": [
            [
                "40cc21e879b22392"
            ]
        ]
    },
    {
        "id": "df5725abe19db22a",
        "type": "function",
        "z": "cf68489fb020cc53",
        "name": "export query",
        "func": "msg.topic= \"select * from sub_portfolio\"\nnode.warn(msg.topic)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 700,
        "wires": [
            [
                "f6b109b66d0e683a"
            ]
        ]
    },
    {
        "id": "40cc21e879b22392",
        "type": "file",
        "z": "cf68489fb020cc53",
        "name": "write report",
        "filename": "/data/store/subportfolio.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 870,
        "y": 700,
        "wires": [
            [
                "7d8f5fb8caf20621"
            ]
        ]
    },
    {
        "id": "f6b109b66d0e683a",
        "type": "sqlite",
        "z": "cf68489fb020cc53",
        "mydb": "d6e22e31a8a67436",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "portfolios",
        "x": 580,
        "y": 700,
        "wires": [
            [
                "150084cf4c418618"
            ]
        ]
    },
    {
        "id": "d2eb9737259b3da4",
        "type": "comment",
        "z": "cf68489fb020cc53",
        "name": "export the sub_portfolio table: open your browser to [yourname].machinetrader.io/api/download_subportfolio",
        "info": "",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "d6e22e31a8a67436",
        "type": "sqlitedb",
        "db": "/data/store/portfolios",
        "mode": "RWC"
    },
    {
        "id": "3da37290d92c1dc8",
        "type": "sqlitedb",
        "db": "/data/store/orders",
        "mode": "RWC"
    }
]